[2016-04-28 09:37] freakone opened #1 "Font of placeholder is not scaled properly"
![image](https://cloud.githubusercontent.com/assets/1595360/14881704/79bc2034-0d35-11e6-8f7f-2064801e6716.png)

[2016-04-28 09:38] freakone opened #2 "Reversed arrow position issue"
![image](https://cloud.githubusercontent.com/assets/1595360/14881748/9edb6dd4-0d35-11e6-89a1-a9a635c6e079.png)

[2016-04-28 10:20] freakone opened #3 "Wrong data binding in example app"
`:selected` prop must be `.sync`. Two way data binding is required to retrieve value from component.

[2016-04-28 12:56] #3 closed, assigned to nobody

[2016-04-28 12:59] #1 closed, assigned to nobody

[2016-05-24 12:39] shentao commented on #2
@freakone please update to the latest version and see if this is still happening

[2016-05-25 11:25] shabushabu opened #5 "Is tagging possible?"
Good work, looks really great!
Was just wondering if tagging is possible, so creating an item that is not already available in the options.

[2016-05-25 11:48] shentao commented on #5
Thanks @shabushabu!

Sadly, tagging is not possible right now.
But now that you mention it, I think this would make a perfect case for another mixin, that would extend the functionality.

So let’s try to describe it:

We have a list of available tags, that you can select, but if you search for something that is not on the list, the current notification asks you to change the search query.
With **t

[2016-05-25 12:08] msx2 opened #6 "Focus after selecting element"
After you select elements using keyboard you end up with the focus being transferred to the first element on the options list. The solution is okay if you used search option, or when you enable removing elements from the list after selection. But the same happens when you navigate through the list using arrows only (i.e. empty search field). 😉

Also, the other issue is when you have mouse pointer

[2016-05-25 12:13] msx2 commented on #6
Oh, and focus issues are also present in single select dropdowns.

[2016-05-25 12:15] msx2 opened #7 "Single select vs "press enter to remove""
![screen shot 2016-05-25 at 14 13 28](https://cloud.githubusercontent.com/assets/1129643/15539462/f127a712-2282-11e6-80ae-e24f5d841729.png)
`Press enter to remove` is present there, but does not work 😄  It's a part of documentation page.

[2016-05-25 12:18] msx2 opened #8 "Documentation: single selects shared value"
Is there any reason in particular why the two single select dropdowns share the same values, and respond when you change values in the other one?
Once you select value in `Single select dropdown`, you select the same option from `Single select with search`. And when you remove the option from `Single select with search`, it's also being removed from `Single select dropdown`, even though its own co

[2016-05-25 12:20] shentao commented on #6
@msx2 Thanks for reporting!

The part about keeping the focus/highlight of the recently added field when not removing those from the list and not searching sounds like a valid improvement!

However, I can not reproduce the second problem. Could you please provide more information? What browser / system are you running? Or a screencast if possible?
There is this glitch when you’re hovering over an

[2016-05-25 12:25] shentao commented on #7
My bad! There are props for disabling this highlight label (or all labels), but it wasn’t properly set in the documentation.

Will have to change this! Thanks for catching!

[2016-05-25 12:34] msx2 commented on #6
@shentao All the issues I found are combined in this short video: https://youtu.be/U1QHr0jJwYU. Some of them (e.g. random changing focus position while navigating down the options list) are hard to reproduce and luckily happened during recording 😉

[2016-05-25 12:37] shentao commented on #8
Those two selects share the same **selected value**. The reason behind such unobvious decision was to test if you could easily control the **selected value** from other sources like Vuex mutations or simply other methods of the parent component.

vue-multiselect doesn’t claim responsibility of how the developer modifies the **selected value** outside of the component. It does, however, keep a copy

[2016-05-25 13:25] freakone commented on #2
![image](https://cloud.githubusercontent.com/assets/1595360/15541412/a9d1ed78-228c-11e6-91f0-5556c7bf0522.png)

@shentao still the same. I assume that there is some css conflict.

[2016-05-25 13:28] shentao commented on #2
Yes, this might be it! Please double check your styles, as also list elements are larger than they supposed to be. I will change the `inherit` values to fixed ones later.

[2016-05-25 13:31] freakone commented on #2
@shentao: see .multiselect__select:before and .multiselect__select:active. My input height is smaller, and arrow positions are fixed. I think they should be relative to input box.

[2016-05-25 13:38] shentao commented on #2
Hmm. So you’re changing the height of the select input right? That might cause this problem. Will think about how to fix this!

[2016-05-25 16:31] #2 closed

[2016-05-25 16:56] shabushabu commented on #5
That sounds great! Couldn't have described it better.

[2016-05-25 23:24] shentao commented on #7
Fixed in v0.1.5 #10.
Closing

[2016-05-25 23:24] #7 closed

[2016-05-25 23:24] shentao commented on #8
Fixed in #10. New docs state that the object is shared and why.
Closing! :)

[2016-05-25 23:24] #8 closed

[2016-05-26 06:55] mrtnsn opened #11 "Less strict Vue.js dependency"
As of now this module requires version `1.0.21` of `vue` which is very specific and version `1.0.24` is now out.

Can you update this to a less strict version constraint? E.g. allow for hotfix versions?

[2016-05-26 08:30] shentao commented on #11
Yes, I will! My bad!
W dniu czw., 26.05.2016 o 08:55 Christoffer Martinsen <
notifications@github.com> napisał(a):

[2016-05-26 10:22] jbardnz opened #12 "Compile error with browserify"
Hi,

Not sure if this is an issue just effecting me or a more general issue.

I am getting a browserfiy issue after adding this to my project:

![image](https://cloud.githubusercontent.com/assets/1628446/15571666/40f7ed0c-2390-11e6-9bc9-dd7ba8931e3e.png)

[2016-05-26 10:25] shentao commented on #12
Hey @jbardnz!
Someone on reddit already noticed the problem and it is fixed in the latest commit.
I will bump the version in a moment. :)

[2016-05-26 10:26] jbardnz commented on #12
Thanks so much for the super quick reply :)

[2016-05-26 10:27] shentao commented on #11
@mrtnsn
Changed the dependencies. Will bump the version in a moment!

[2016-05-26 10:27] #11 closed

[2016-05-26 10:32] shentao commented on #12
No problem.
Fixed in v0.1.6

[2016-05-26 11:13] jbardnz commented on #12
Hmm, I now seem to get a different compile error:

![image](https://cloud.githubusercontent.com/assets/1628446/15572868/7759c2e2-2397-11e6-95a3-1bc1f5ad35e6.png)

[2016-05-26 11:35] shentao commented on #12
Ouch. This might be something sass related. I’m about to get rid of it in the multiselect.vue file. This might solve the problem. On it right now!
Thanks for reporting!
Can you also provide some of the configuration you’re using? Any preprocessors?

[2016-05-26 11:38] jbardnz commented on #12
I'm using [Laravel Elixir](https://github.com/laravel/elixir) to compile my JS assets.

I am also running Sass for all my styling and in my own Vue components so it should have all the dependencies it needs to compile. Apart from that it is just a standard gulp setup.

[2016-05-26 12:48] shentao commented on #12
@jbardnz
Got rid of sass anyway (thus probably removing the line that throw the error). Give it a try now. :)

[2016-05-26 13:02] jbardnz commented on #12
Thanks man!

That has cleared the Sass issue - but it has caused a different issue:

![image](https://cloud.githubusercontent.com/assets/1628446/15575385/abc6a28e-23a6-11e6-86ff-3d26f5ecf22a.png)

[2016-05-26 13:24] shentao commented on #12
Damn! Could you try reinstalling/updating babel-preset-stage-2? And/or removing node_modules and running `npm install` again?
`pointerMixin.js` doesn’t really use any Babel requiring functionality.

This might be a problem with laravel-elixir.
https://github.com/laravel/elixir/issues/354

I will investigate it later, but probably not today.

[2016-05-26 13:36] jbardnz commented on #12
Hmm potentially it is just a Laravel Elixir issue then. I will investigate the solutions suggested on that thread tomorrow and post back.

[2016-05-26 13:36] shentao commented on #12
Thanks!

[2016-05-26 23:34] jpmurray commented on #12
I had the same trouble, and (mind you I'm in no way knowledgable in all of this, so I don't know what can be done to fix it really), but following the thread in the above mentioned elixir issue, I removed the `.babelrc` file at the root of vue-multiselect folder in `node_modules` and it works perfectly fine now!

[2016-05-27 01:57] jpmurray opened #13 "Getting style conflicts?"
Hello,

I'm trying to use vue-multiselect in a bootstrap based template. Out of the box, it looks like this:

<img width="825" alt="screen shot 2016-05-26 at 21 55 44" src="https://cloud.githubusercontent.com/assets/1550428/15595395/a811758e-238c-11e6-9009-938db57a079c.png">

The select box is smaller, texts is partially hidden... So I'm thinking there might be some conflict with bootstrap styles?

[2016-05-27 08:51] shentao commented on #12
That’s interesting! Thanks @jpmurray. I will check it myself and add it to `.npmignore` if it doesn’t break anything for webpack based imports.

[2016-05-27 09:22] shentao commented on #13
I know where is the problem with the partially hidden text.
Will fix this in a moment for case: `multiple="false" && searchable="true"`. As for `multiple="true"`, the search input can’t be full width, as it has to fit next to the selected options/tags. Calculating the width in such case would feel a bit like overhead.

The select is using `rem` for all kind of sizes, so please look for you HTML `f

[2016-05-27 11:06] shentao commented on #13
@jpmurray Fixed in 0.1.8 :)

[2016-05-27 11:06] #13 closed

[2016-05-27 11:10] shentao commented on #12
@jpmurray @jbardnz `.babelrc` file removed. This should fix the problem. If not, please reopen and let me know! :) Have a nice weekend!

[2016-05-27 11:10] #12 closed

[2016-05-27 11:11] jbardnz commented on #12
@shentao I have just tested and can confirm that fixes the issue for me! Thanks so much for fixing this.

[2016-05-27 11:16] shentao commented on #12
Awww yeah! 👯 Glad to hear that!

[2016-05-27 17:58] jpmurray commented on #13
@shentao Welp, that was fast ;-) Visual bug is gone indeed, so that is ok.

I [found the reference in Bootstrap 3.3.6](https://github.com/twbs/bootstrap/blob/10606a73bcbfc6c723d60e2a1069c921afff0d2a/less/scaffolding.less) that makes the dropdown small, line 23. I'm not sure why, but the reset Bootstrap makes seems to take precedence in your code.

The thing is tough, is that looking at the style f

[2016-05-27 19:59] evertramos commented on #5
Hi @shentao,

Nice component! Thanks for sharing.

Reagarding the tags, I have a suggestion, if you consider valid.

1. Normally with tag we have an option to make it become the green nice block, using a comma (",") or maybe semicolon (";"). Space are no a good option, because could have a space in someones tag;

2. In my dummy point of view, when you enter a tag, it could only brings the format o

[2016-05-28 08:46] shentao commented on #13
As I thought, this is a problem from `rem` unit as it is based on `html { font-size: 10px }` this is `1rem = 10px`. I hardly ever use bootstrap. Is this change mandatory? I usually prefer using `rem` for scalability but in this case, it feels like a shot in the feet.
How does removing `font-size: 10px` affect your page?
Some frameworks (like Foundation) use a `rem-calc` function where you pass pix

[2016-05-29 01:25] jpmurray commented on #13
Looks like it doesn't changing from `10px` to `16px` won't change a thing. The only trouble I have is that I compile it directly from the less file in Gulp, and the CSS reset doesn't use use variables, so I kind of have to hack it after I compile it if I don't want to mess with the source. But hey, that's not on your end! ;-) I'm just dropping this here so anyone having the same problem can find t

[2016-05-29 15:37] shentao commented on #5
Hey @evertramos @shabushabu, I've created a (very work in progress) draft of tagging on the branch #14. Run it locally if you like and let me know what do you think!

Cheers!

[2016-05-29 15:55] shabushabu commented on #5
Great, cheers! I'll take it for a spin tomorrow.

[2016-05-30 10:08] kubakrzempek opened #17 "Allow label attribute to be a computed value"
The `label` attribute can only evaluate to prop from passed in object, but it would be super cool if it could take a computed value from multiple props.

[2016-05-30 10:37] HParton opened #18 "Webpack build error using default vue-cli project build tools"
[vue-cli project](https://github.com/vuejs-templates/webpack)

Running the dev server works fine but when i run build:
[code]
i get this error:
[code]

[2016-05-30 10:47] shentao commented on #18
Hey @HParton!
Please go to `node_modules/vue-multiselect/src/mixins/muliselectMixin.js` and change the 19 line from:
`data () {`
to
`data: function () {`
and let me know if that helps. And any other shorthand if necessary.
If this helps, it would mean that uglify.js has some problems with shorthand method definition.

This is no big deal, so I could fix it soon. :)

[2016-05-30 12:23] evertramos commented on #5
@shentao sorry man... I am too newbie... Could not test it, even subsituing the folder in my node_modules, or trying to run in the same forlder of my component I got this error:

    { [Error: Couldn't find preset "stage-2" relative to directory "C:\\src\\node_modules\\vue-multiselect" while parsing file: C:\src\node_modules\vue-multiselect\src\mixins\pointerMixin.js]
      filename: 'C:\\src\\nod

[2016-05-30 13:58] shentao commented on #17
I have a draft that would enable providing a function that would return an interpolated string with whatever needs to be shown in the options list / result.

Should be implemented soon. :)

[2016-05-30 22:02] jpmurray commented on #17
That will be perfect! Because at this point, on my end, my label is a composite value of two columns, but I  concatenate them on the server side then return the string as the label to the front end. Problem is, the string looks like `Some name - Some title`. So, searching for "Nirvana spirit" will send the right query, and return the good result from the server, but I won't be able to search/find

[2016-05-30 23:14] shentao commented on #17
Yes @jpmurray! :) You will be able to pass something like `${artist} - ${title} (${album})` as label. But searching will be working based on all keys.

[2016-05-31 00:28] shabushabu commented on #5
Seems like there's currently no flag to enable tagging, so it should be on by default, right? Looking over the code it seems that the tag delimiter would be a semi-colon, but unfortunately, I couldn't get a tag to appear. Am I missing something?

[2016-05-31 06:52] kubakrzempek commented on #17
That's somehow the same issue/need we've faced. :)

[2016-05-31 09:28] shentao commented on #5
It is the example at the top in the documentation (available @ localhost:8080) when running `npm run dev`. I will improve the example today/tomorrow evening.
See the props list in Multiselect.vue.

[2016-05-31 10:09] shabushabu commented on #5
Got it up and running and it works really well. Didn't get it running in my project cause of the missing onTagging method. I'm happy with it.

Do you plan on adding a flag to allow tagging and move the onTagging method into the component or are we gonna have to declare onTagging ourselves?

[2016-05-31 10:21] shentao commented on #5
I think that adding tags to the options list is a bit beyond the component responsibility.
It might be a simple `.push()` with Arrays with primitive values only, however this would fail miserably if your Array contains Objects, where the tag label (the one you type into search), is just one of the keys.

Imagine a options list like this: `[{ tag: "label", userCreated: true }, { tag: "otherLabel",

[2016-05-31 10:52] shabushabu commented on #5
Ok, fair enough. Easy enough to do.

[2016-06-01 07:59] shentao commented on #18
@HParton Hey! I refactored the way one can import the component (now a bundled umd module), so none of those errors should happen.

I will try to release it as 0.2.0 today evening.
Additionally, you can now import mixins like `import { multiselectMixin } from 'vue-multiselect'`.

[2016-06-01 10:06] HParton commented on #18
Hey @shentao,

Thanks for doing that, sorry i went quiet on the issue. Got distracted and then forgot about it!

I'll give it a test when you release the new version.

[2016-06-01 23:15] shentao commented on #5
@shabushabu @evertramos
Merged and available in v0.2. Hope it works for you! :)

[2016-06-01 23:15] #5 closed

[2016-06-01 23:15] shentao commented on #17
@jpmurray Merged and available in v0.2 :)

[2016-06-01 23:15] #17 closed

[2016-06-02 06:27] shentao commented on #18
@hparton Released!

[2016-06-02 06:27] #18 closed

[2016-06-02 08:52] HParton commented on #18
Working perfectly, no more errors. Thanks @shentao.

[2016-06-02 09:09] shentao commented on #18
I’m glad to hear that @HParton!
Let me know if there are other bugs or ways to improve!

[2016-06-02 10:17] jbardnz opened #22 "Consider not using 'let'"
I was having issues running my code in FireFox and traced the issue back to the use of 'let' in this plugin. My FF was a couple of versions out of date and I noticed support for let is still not great, it was only supported in Chrome/FF as of a couple of versions ago and Safari/IE 10 has no support for it.

http://caniuse.com/#feat=let

Would you consider not using let so this plugin can support o

[2016-06-02 10:34] shentao commented on #22
Hey @jbardnz!
This should not happen since version v0.2 (released last night), as the plugin is now loaded as an babel transpiled umd bundle, which means all `let` uses are transpiled to `var`.

This means vue-multiselect should support browsers **down to IE 9**. :)

I added the `/lib` directory to the repository as this is where the package.json `main` key points to.

**Please update to the newes

[2016-06-02 13:07] #22 closed

[2016-06-02 19:56] frankdugan3 opened #23 "Override Styles - Remove Scope"
While scoped styles are nice in that they don't interfere with other components, they are hard to override. Since you already use BEM in your CSS, it would be trivial to remove the scoped style option and change the block selector to 'vue-multiselect'. That should prevent any interference.

This would make it much easier to override only a few CSS settings, in my case all I need to change is the c

[2016-06-02 20:30] shentao commented on #23
Hey mate! For a moment I removed the scope and now that you mention it I think I should get back to it. So here you have it, v0.2.1 with no more scoped css!

[2016-06-02 20:30] #23 closed

[2016-06-02 20:36] frankdugan3 commented on #23
Wow, that was quick. Thanks!

[2016-06-02 20:43] shentao commented on #23
No problem! Sorry, removed the previous comment by accident. :(

[2016-06-02 22:26] zachleigh opened #24 "Can't set placeholder to prop"
I'm trying to do something like this:
[code]
Where languagePlaceholder is a component prop. I tried `placeholder="languagePlaceholder"` and `placeholder="{{ languagePlaceholder }}"`, both just output a string, not the value of the prop.

[2016-06-02 22:46] shentao commented on #24
Hey @zachleigh! Thanks for using vue-multiselect!

This is because if you use simple `placeholder="languagePlaceholder"` it will pass `languagePlaceholder ` as a string. Using `{{ languagePlaceholder }}` won’t help as it evaluates the expression inside the brackets.
However, if you use `v-on:placeholder="languagePlaceholder"` or the shorthand version of it `:placeholder="languagePlaceholder"` it w

[2016-06-02 22:46] #24 closed

[2016-06-02 22:51] zachleigh commented on #24
Perfect! Thanks @shentao

[2016-06-02 22:54] shentao commented on #24
No problem! Good luck with your app! If you have any other questions, problems or feature requests – let me know! 👍

[2016-06-03 01:29] erikbelusic opened #25 "newly created tags arent getting added to the selected array thus not showing"
when i add new tags and hit enter, i am not having that new tag automatically selected like the demo. i do not have an :on-change function, as you do not give an example

here is my markup:

[code]

here is my component (the save method can be ignored):

[code]

i dont get an error, but in vue dev tools, the parent components form.tags array is updated however the components value array is not upd

[2016-06-03 01:31] erikbelusic commented on #25
this is what i see in vue dev tools:

[code]

[2016-06-03 09:11] shentao commented on #25
My bad, I should have added it the example. Here is the code for the onChange callback.
https://github.com/monterail/vue-multiselect/blob/master/docs/App.vue#L769

This is a bit tricky and only required if tags are objects, but it should make it work.

I will have to refactor the way syncing of object tags works to make it a bit easier.

Let me know if that solves the problem!
Cheers

[2016-06-03 12:50] erikbelusic commented on #25
I can't test this until later, but from the looks of it, it will not solve the problem since the callback is on the `create-like-form` component, it will not have access to the `this.values` on the multiselect component if my understanding of vue is correct.

**a possible solution: **

make your component listen for some sort of event for when a new tag is added, and then the parent component can

[2016-06-03 12:58] shentao commented on #25
Thanks for your suggestion.
Sadly I don’t want to introduce `$broadcast` or `$emit` as this will be deprecated in Vue 2.0.
Of course, I could use `$on` inside the component but this would later force developers to create some event bus just for the sake of using this.

Please test it, as I believe this should actually work. It works in tests and in the docs (the second example). Sadly right now, y

[2016-06-03 13:08] erikbelusic commented on #25
ok, i will follow up later

thanks!

[2016-06-03 14:42] lbjones opened #26 "Roadmap question - will there be ordering/sorting support for multiselect?"
This is a great component, thank you!

I'm curious if you have in mind adding support for reordering items with mouse drag and drop?

I'm making an email contact box, which needs tagging, remote loading, custom delimiters, and reordering support.  No project that I've found seems to support all of this completely bug free.  I'd be willing to contribute to this project to help get there.  But since

[2016-06-03 16:18] shentao commented on #26
Hey @lbjones! Thanks for your kind words!

**Tagging, remote loading, and custom labels are supported right now.**
However, even if drag and drop reordering sounds interesting I believe this wouldn’t fit into the component’s scope. Introducing such functionality would additionally increase the complexity of the component. Cases, where you need to reorder the dropdown elements or tags are quite rar

[2016-06-03 16:22] shentao commented on #25
Any progress?
I will probably try to refactor this next week to make it easier.

[2016-06-04 00:42] erikbelusic commented on #25
nope. as i expected =/ - i may have to try using the mixins or something because the parent component (create-link-form) cant access properties on the child component. to try and debug i put a console log in the updateSelectedTagging function and it doesnt get fired when i add a tag that wasnt in the options list

[2016-06-04 00:50] erikbelusic commented on #25
i got a hack solution by putting this in my addTag method

[code]

but that is super hacky - i guess my question now would be the value array and the selected array? they seem like they should be the same? idk a quick fix could be to have value as a prop that we can two way bind to also? because the hack i did only works if i am sure that there is only the one child component

[2016-06-04 10:01] shentao commented on #25
The `value` is a working copy of `selected` prop. This is due to Vuex support, where you’re not supposed to mutate the state outside of Vuex. And yes, they are supposed to be the same and there is code responsible for it. Syncing value and selected in both ways (so that you can actually change the component value from outside of the component.

Can you remove the `.sync` from `selected.sync=""` pr

[2016-06-04 16:24] erikbelusic commented on #25
removing the `.sync` worked!! was able to remove my hacky code! thanks!!

great job by the way. besides the issues getting my exact implementation to work, this is the best tagging solution for view that i have found!

[2016-06-04 16:41] shentao commented on #25
I’m glad I could help!
Thanks for your kind words! :)

[2016-06-04 16:41] #25 closed

[2016-06-04 23:08] lbjones commented on #26
Hey that sounds awesome!  I'm a bit new to vue and coming from angular development.  I've been looking through your code and I'll see how this all works, but I can see I have much to learn.

So you are saying that we should create a new project that is a fork of this one?  Or is there a way to import the mixins as a dependency?

[2016-06-05 08:28] shentao commented on #26
That's exactly my story - coming from angular development.

In Readme.md there is an example on how to create new components using the mixins and which to import.

http://vuejs.org/guide/mixins.html

So you can just create a new component in the docs and import those.

If we manage to create some more examples we can create new projects that would use this one as dependency. What do you think abou

[2016-06-05 08:29] shentao commented on #26
You can use the src/Multiselect.vue as an example on how to build a component that uses the mixins.

[2016-06-05 10:51] grafa opened #27 "Add to vuecomponents.com"
Just do it man ;)

[2016-06-05 11:10] shentao commented on #27
Done! Thanks! ;)

[2016-06-05 11:10] #27 closed

[2016-06-06 16:10] lbjones commented on #26
Right on, sounds great!

[2016-06-06 19:51] ianwalter commented on #23
@shentao This doesn't look like it's built into v0.2.1. I'm still getting scoped styles when I `import { Multiselect } from 'vue-multiselect';` but not when I `import Multiselect from 'vue-mulitselect/src/Multiselect'`. Just a heads up.

[2016-06-07 07:49] shentao commented on #23
@ianwalter Hey! Good catch! Published v0.2.2 to make sure that I removed the scoped attribute.

[2016-06-07 12:43] #26 closed

[2016-06-07 19:30] Uninen opened #28 "Document how to override CSS styles"
I'm trying to get a very simple select element to my Vue app which uses ES6 and node ( using require('vue-multiselect') ) and adding the component straight to my main Vue instance. It seems extremely hard to override the default styles, which fail monumentally when just adding multiselect-element to the html template that uses plain bootstrap styles (see attached screenshot of the element).

It wo

[2016-06-07 22:08] shentao commented on #28
The default styles work in environments where the global defaults are not changed (unless it’s normalize.css)

I think the problem comes from bootstrap in that it overrides some browser defaults and basic selectors. I could fix this with setting the components defaults myself, but this still won’t help if there are some nested (high specificity) rules overriding them.
**It is actually a very bad i

[2016-06-08 17:42] tintinboss opened #29 "Error on gulp --production"
Hi, I'm facing this error while trying to run `gulp --production` [complies fine when running gulp --dev].
Using elixir and mix.webpack()
Elixir version: ^4.2.0
Gulp version: 3.8.8
npm version: 2.14.12
nodejs version: v4.2.4

Error on console:
`- public\js\app.js

events.js:141
      throw er; // Unhandled 'error' event
      ^
 Error
  at new JS_Parse_Error (<anonymous>:1526:18)`

Thanks in advan

[2016-06-08 18:01] shentao commented on #29
I would need some more data to provide any help. How does your gulp and webpack configs look like? What are the differences in webpack prod and dev configs? Where do you handle minimization and so on?

[2016-06-09 20:07] Uninen commented on #28
Hi!

thanks for fast reply. For some reason the width is not the only problem in this case, maybe bootstrap styles affect other styles too, as the element height is about 3rem and it acts weird. I'll try to take some time and isolate this to get an example of the problem. I'm quite familiar with CSS, but for some reason this particular case seems very hard.

I'll close the ticket for now :)

[2016-06-09 20:07] #28 closed

[2016-06-09 20:14] shentao commented on #28
@Uninen What is the font-size of the html / body element? Because this is the value that `rem` is based on. By default it should be 16px, but if this is changed by bootstrap, the sizes might break. I will rewrite the rems as simple `px` to prevent such problems.

[2016-06-12 02:15] victor-ponamariov opened #30 "Wrong height / font-size"
Hi shentao!

I tried to use this awesome plugin and came across next issue:
![5860114b59ba43738b8d036ed1f34fc8](https://cloud.githubusercontent.com/assets/6241595/15988526/d7ccbeaa-305c-11e6-8d61-2428fa9795cd.png)

I realized that when I include bootstrap.less it breaks multiselect's height (for comparsion I included another select on the screenshot). But I couldn't find out why. I see multiselect

[2016-06-12 02:31] JeremyBYU opened #31 "Scroll Broken in Chrome"
First off, great project! I seem to be having a little problem with scrolling though.

Problem: Can not scroll through options list by using mouse to drag scroll bar.  You have to use the mouse wheel.

Environment:
vue-multiselect: "^0.2.3"
NodeJS 4.X
OS: Windows
Browser: Chrome Version 51.0.2704.84 m
No external styles being used.

Gif of problem:
![multi-select-dropdown](https://cloud.githubuser

[2016-06-12 12:14] shentao commented on #30
Yes, this is the reason. I shall change everything to `px` in the next release! :)

[2016-06-12 12:14] #30 closed

[2016-06-12 12:16] shentao commented on #31
Weird! Must be a problem with Chrome on Windows, because on OS X it works without any problems.

[2016-06-12 14:52] JeremyBYU commented on #31
It could be my set up, I'm still looking into it and will let you know if I can think of anything!

[2016-06-12 15:21] JeremyBYU commented on #31
Got some good news about tracking down the bug!
I git cloned this repository and `npm install && npm run dev`. I noticed I was experiencing the **same** problem on your localhost homepage on this component:
![image](https://cloud.githubusercontent.com/assets/6628085/15991967/c31f15f0-3086-11e6-9fd7-9cf61f7fd46b.png)

However the problem was **not** happening on the primitive value example componen

[2016-06-12 15:39] nodocaengine opened #32 "Can I set the limit of selection?"
When using tagging and multiselect options, can I set the limit of number of selected and created tags?
If I can do so, I want to stop working ajax searching, creating new tags, and show notice that means like "You cannot select and create tags anymore" when the number of inputting tags reaching the limit.

[2016-06-12 17:14] shentao commented on #32
Hey there @nodocaengine!

Sadly right now you can’t, but this sounds like a valid request! 🎯
I think I could introduce a limit of selected options (and this way also tags) that would disable adding anything to the list of selected options and show a statement that you can also pass as a prop. Would this be enough?

[2016-06-12 17:22] shentao commented on #31
Well, this looks like it loses the focus for a moment, thus triggering a close and open events. Changing `searchable` to `false` removes this problem because then we focus the container instead of the search input. Because the scrollbar is a shown on a child element of an already focused element, it doesn’t lose focus. But when we use the search input, it doesn’t have any children (hence, it’s an

[2016-06-12 17:41] JeremyBYU commented on #31
I downloaded firefox and gave it go. It is showing the same issue as Chrome.

Firefox Version: 47.0

What your saying makes sense about the loss of focus.

[2016-06-13 01:20] nodocaengine commented on #32
@shentao Thanks for reading my issue and sounds good you said!
I wish it comes true :)

[2016-06-14 00:54] victor-ponamariov commented on #31
I have exactly the same issue on chrome and firefox

[2016-06-14 05:58] shentao commented on #31
I’m not sure how to actually fix it, but I will try. I’m afraid this might require large changes in the component template. Hope it isn’t crucial for you :/

[2016-06-14 17:43] thoughts1053 commented on #31
I'm also having the issue on Chrome for Windows. I haven't tested other browsers but want to be subscribed to replies.

[2016-06-14 19:56] tintinboss commented on #29
@shentao : Thank you for your response! The problem was in my webpack configuration. I had to set `babel` as loader and all went fine.
Thank you so much for the beautiful work!

[2016-06-14 19:56] #29 closed

[2016-06-14 20:20] shentao commented on #29
Och! I’m glad to hear that.
However, I still wonder why didn’t it work before as the component is already transpiled to es5 so it should not require Babel to work. But maybe there is some other stuff going on (like es6 imports or so) that would require it.

[2016-06-16 03:34] JeremyBYU commented on #31
Just added a pull request that I believe should fix this issue.  Would appreciate anyone's help on testing for MacOS and Linux (as well as Windows to double check my testing)

[2016-06-16 19:49] icebob commented on #32
+1, limit is an important feature. I'm waiting too :)

[2016-06-16 22:24] shentao commented on #31
Tested on MacOS, works like a charm. 💃

Thank you very much for your contribution. It was merged manually and will be released in v0.2.4 in a moment.

[2016-06-16 22:42] JeremyBYU commented on #31
Thanks! I'm glad it worked out.

[2016-06-16 22:43] shentao commented on #31
I just noticed there are problems with the TAB button now, related to the refocusing of search field. :/

[2016-06-16 22:53] JeremyBYU commented on #31
Doh!!! I never tested tabs! Sorry about that.  Where should it focus on then?

[2016-06-16 23:21] shentao commented on #31
It would be best if it didn’t lose focus in the first place. It works with `v-show` and a transition because the elements are stil there when you click on the scrollbar. With `v-if` the node is gone.
For now, I will revert both your and my solutions with the change to `v-if`. This should temporary fix the problem with the scroll bar, giving us time to find a better solution.
The performance proble

[2016-06-16 23:32] shentao commented on #30
Fixed in 0.2.5!

[2016-06-16 23:34] JeremyBYU commented on #31
Sounds good. I think thats' the right decision for now.

On Thu, Jun 16, 2016 at 6:21 PM, Damian Dulisz <notifications@github.com>
wrote:

[2016-06-17 08:56] xeyefex opened #34 "Attributes are ignored because the component is a fragment instance"
Hi there, in my vuex / vue-router spa on a fresh install with just the basic example i'm getting:

`vue.common.js?e881:1014 [Vue warn]: Attributes ":selected.sync", ":options" are ignored on component <multiselect> because the component is a fragment instance: http://vuejs.org/guide/components.html#Fragment-Instance`

Would really like to use it in my project any insight on this?

[2016-06-17 09:02] shentao commented on #34
How do you import the component?

It should be like this:
`import { Multiselect } from 'vue-multiselect'`

If you omit the `{ }` it will throw the above error. Hope it works! 😃

[2016-06-17 09:05] shentao commented on #32
I will try to add this functionality this weekend! Stay tuned!

[2016-06-17 09:14] xeyefex commented on #34
Yes correct ! a small misstep by me ! Works as expected with the curly braces.
Thanks for the quick replay and for the awesome project !

[2016-06-17 09:14] #34 closed

[2016-06-17 09:35] shentao commented on #34
Happy I could help! 👍

[2016-06-18 17:11] shentao commented on #32
@nodocaengine @icebob Added the functionality in 0.2.6 :)

Just add `:max="number_here"` prop.

Example usage in the docs. See *Custom Configuration* part of the documentation: http://monterail.github.io/vue-multiselect/

[2016-06-18 17:11] #32 closed

[2016-06-18 18:47] icebob commented on #32
Great! Thanks!

[2016-06-19 14:32] nodocaengine commented on #32
@shentao Thanks a lot!

[2016-06-19 18:43] Asvae opened #35 "How do you pass data down from parent?"
I use `vue-multiselect` in complex form. It operates in the manner of autocomplete select.

When it comes to getting the selected item from `vue-multiselect` — i use `$emit` in child plus `@event` in parent and everything works fine.
But when i try to modify the multiselect state from parents — it doesn't work. I tried using `selected` props, did `this.options.push()` to no avail.

So is it even p

[2016-06-19 20:26] shentao commented on #35
If you wish to change the selected options, you can modify the `:selected` prop. The change will update the value inside.
If you want to change the options available inside the multiselect you can simply mutate those using `on-search-change` callback function. Example implementation in the docs for asynchronous options:
https://github.com/monterail/vue-multiselect/blob/master/docs/App.vue#L262
htt

[2016-06-19 22:57] Asvae commented on #35
Sorry, but your solution doesn't appear to work.

I somehow managed to show the `selected` object that was sent from parent (via `placeholder`). Here's the [gist](https://gist.github.com/Asvae/fe1ce1d34fd73ba1b8dbcb391d2f8c94).

But this solution is not perfect. On screenshot lowest component had been clicked on while the topmost hadn't been. They both share the same `selected` prop. Also, they do

[2016-06-20 06:05] shentao commented on #35
Damn!

`:options.sync` don’t need the `.sync` modificator. What you also need is to set the `selected` value somewhere. Usually it is the `:on-change` function, but looking at your example, you modify it in the parent. Make sure when that when you catch the `@selected` you save `this.selected = selected`. Also I’m not sure if you need the `_.cloneDeep` lodash method here.

In the docs there is an

[2016-06-20 11:36] Asvae commented on #35
Yeah, definitely overkill. Had to be sure I did everything i could :).

I certainly do that as I have a lot of `<pre v-text="selected | json"></pre>` sprinkled over the code. They monitor the value and it works as expected. The only issue is displaying the selected object inside the `vue-multiselect`.

I also took a glance at [chrome vue devtools](http://i.imgur.com/1gqFbcJ.png). As you can see, t

[2016-06-20 12:21] chagamkamalakar opened #36 "multiselect not visible, always giving fragment instance problem"
the warning is as follow:
Attributes ":selected.sync", ":options" are ignored on component <multiselect> because the component is a fragment instance:

i followed same as described in the document. ... please help me out

[2016-06-20 12:27] Asvae commented on #35
I found a culprit. This line:
[code]
When it's set to `false`, displayed value doesn't sync from parent. Not sure if it's intended, but sorta confusing.

Thanks for helping out.

[2016-06-20 12:27] #35 closed

[2016-06-20 12:32] Asvae commented on #36
Take a look [here](https://vuejs.org/guide/components.html#Fragment-Instance). Basically, you can only have one top level element.

Hope this helps.

[2016-06-20 12:36] chagamkamalakar commented on #36
let me put my code here

index.html
[code]
acl.js

[code]

is <div id="acl">  not a root element?

[2016-06-20 12:43] Asvae commented on #36
@chagamkamalakar try importing like this:
`import { Multiselect } from 'vue-multiselect'`

[2016-06-20 12:44] shentao commented on #36
`import { Multiselect } from 'vue-multiselect'`
This will fix your problem. ;)

[2016-06-20 12:48] chagamkamalakar commented on #36
thank you @Asvae , @shentao

working like charm

[2016-06-20 13:27] shentao commented on #35
This is not intended so I will have a look into it in the coming days. Thanks for bringing this up!

In the end, I’m glad it works now! :)

[2016-06-20 13:30] #36 closed

[2016-06-20 13:30] shentao commented on #36
Damn, I just noticed that I haven’t updated the README file with this change to importing. Sorry about this, my bad. :(
In the docs it is written correctly though. I’m glad it works for you. If you have any other problems, let me know!
@Asvae thanks for help with resolving other issues!

[2016-06-20 15:47] Asvae commented on #36
@shentao, I think you can organize the bundle as follows:
[code]
That way, if you import `Multiselect` you get plain component, and if you need something more specific — you can import `{ multiselectMixin }`, for instance.

Backwards compability included :).

[2016-06-22 06:24] sleimanx2 opened #39 "Don't show multiselect__option if empty options"
Is there a way to hide the option span if their is no options or if the user didn't start typing yet ?

You can check the search bar in http://krekib.com for a better perspective.

[2016-06-22 08:21] shentao commented on #39
Hey @sleimanx2! I have to say it, your site looks really good! 😄

Right now it’s not possible.
The `no results option` is actually a `slot="noResult"` so you can change what appears inside. You might try changing the slot to an empty span, but I’m not sure if this would help.

Anyway, this is a very easy improvement so I will try to introduce this change today. I will let you know when it’s availa

[2016-06-22 12:08] sleimanx2 commented on #39
@shentao thank you much appreciated , awesome package by the way !

[2016-06-23 20:35] shentao opened #42 "Docs"
I could really use some help with the documentation and examples. ;)

I’ve just split the documentation into smaller partials to make it easier to work with.
https://github.com/monterail/vue-multiselect/blob/master/docs/index.jade

If any of you have any cool ideas how we could improve the documentation, let me know! PRs are obviously welcome too! :)

[2016-06-23 21:43] shentao commented on #39
Available in v0.3.0 ;)

[2016-06-23 21:43] #39 closed

[2016-06-24 10:21] DaHaiz opened #43 "onChange is not called if the values somehow result in the initial configuration"
problem: i'm persisting the changes on every onChange via ajax.
If you add a value then onChange is called and i'm persisting via ajax.
If you remove that option again onChange is not called again.

It seems that is only compares with the initial config instead of the current one.

[2016-06-24 10:48] shentao commented on #43
This might be a problem with not observing the object if it comes straight from the backend. Could you try using the `Vue.set()` method for saving the ajax received state?

[2016-06-24 12:16] DaHaiz commented on #43
the data is passed to multiselect by a prop. i am not editing the values at all myself. i'm just mirror it to the backend via changed callback. this is my code, where groups are the selected options.

[code]

and this is how its called:

[code]

[2016-06-24 12:53] shentao commented on #43
If you’re passing the `:on-change` prop you should modify the selected array yourself.
In this case your method `groupsChanged` might change the selected array like this:

[code]

This also means you should remove the `.sync` modifier as it won’t work, because the multiselect component never changes the selected array if the `:on-change` prop is present. This is due to Vuex support where you’re no

[2016-06-24 17:29] DaHaiz commented on #43
thanks a lot for your great support! that did it. i went for removing .sync and set it myself in the onChange callback. i have to dig into vuex :)

[2016-06-24 17:29] #43 closed

[2016-06-24 17:47] shentao commented on #43
Glad I could help. :)
I highly recommend Vuex! Makes arguing about the state a lot easier!

[2016-06-29 03:16] chagamkamalakar opened #47 "hide-selected not working after setting options in computed property"
Hi
I am getting data through ajax request, and then setting options property , hide-selected not working as expected .

even it doesn't show text as "'Press enter to remove" for respective option after selecting the option

and this causes same option selected multiple times .

am using options as array of objects , and using  key , label  props

[code]

and obj is :

[code]
any workaround please?

[2016-06-29 03:30] chagamkamalakar commented on #47
sorry guys

i made a mistake by passing invalid field for " key"  prop

i changed that to obj.key

now it's working

thank you

[2016-06-29 03:30] #47 closed

[2016-06-29 07:04] shentao commented on #47
Glad to hear that!

[2016-06-30 12:40] asvae opened #48 "on-search-change event is not that useful"
As I'm using `on-search-change` event, the main intention is to load options from the server. But it doesn't suit the task. Here's why.

`on-search-change` event triggers:
1) Page ready.
2) Parent `selected` prop externally changed.
3) User clicked on component (triggers 2 times).
4) User types any letter

`load-options` event should trigger:
1) User clicked on component (once).
2) User types any

[2016-06-30 14:13] LukasKnuth opened #49 "Provide dist to use without toolchain"
Vue itself is provided as a single JS file, which I can simply include in the HTML header and I'm good to go.

I'd love for vue-multiset to provide the same (just a single JS and CSS file). You could then use [`Vue.use`](https://vuejs.org/api/#Vue-use) to register the plugin.

[2016-07-01 10:44] shentao commented on #49
I'm on vacation right now so I can't check it myself, but it should work (at least partially) as the dist file is an umd module.

[2016-07-01 13:17] LukasKnuth commented on #49
I have tried it multiple things:

* If I use `Vue.use(VueMultiselect)`, it tells me that no `apply()`-method is defined.
* If I register it with `Vue.component(VueMultiselect)` or locally in the `components: [VueMultiselect]`, it tells me that the component should "provide a "name" or "id" field".
* If I register it with a name like `components: {"multiselect": VueMultiselect}`, it turns into a Fr

[2016-07-01 13:24] shentao commented on #49
The css code is inside the js file. It might require just a small tweak to the exporting code. I will look into it after I'm back home, so next week.

[2016-07-03 05:30] zachleigh opened #50 "Images for the select options?"
Is there currently a way to get images in the select options? Ive been trying to get it working, but I havent found a way yet.  If images arent supported, is there a way to set a class or id on each option so that I could try to find a css solution?

Not a deal breaker, but it would be nice if the package supported this :)

[2016-07-03 06:52] shentao commented on #50
If I'm right, then after porting it to support Vue 2.0, it would be easier to support custom option templates (as this would be just a render function then). Supporting Vue 2.0 is something I want to achieve in the next 2 weeks, so this is when I could add support for custom option templates. The current Slot implementation does not enable that, as it is compiled within the parent's scope.

Right

[2016-07-03 09:16] zachleigh commented on #50
Thanks for your detailed reply, shentao! Ive got it basically working, just need to iron out a few small problems and clean it up a bit. Once I get it all working, Ill let you know.

[2016-07-03 09:39] shentao commented on #50
Glad to hear that! Would love to see it live!

[2016-07-03 09:39] #50 closed

[2016-07-05 08:08] sleimanx2 opened #51 "integration with vue-validator"
is there a way to integrate vue-validator with vue-multiselect ?

[2016-07-05 20:21] dobromir-hristov opened #52 "Using with normal from inputs"
If I wanted to sync up the multiselect with a normal input field, lets say an input:hidden, it all works well if I use primitive values for the multiselect. If I use an array of objects on the other hand,  like
[code]
it writes the whole selected object to the synced up property, but that cant be sent over as a normal form submit data if I`m not mistaking. If I use something like v-model="synced.v

[2016-07-06 16:54] asvae opened #54 "Minimal browser requirements in docs?"
As I found out, the library has issues in older browsers.

 * IE 11: no tab navigation support, click on empty space won't open select, demo page unusable.
 * Mozilla 39: no tab navigation support.
 * Chrome 44: no tab navigation support.

This information might be very crucial for someone who decides to use the library in production.

[2016-07-07 12:56] DevKingDigital opened #55 "On-change doesn't work on last item"
When using the on-change attribute, the method doesn't get fired if you remove the last item in the selection.

[2016-07-07 13:12] shentao commented on #55
Make sure you don’t have the `.sync` modifier at the `selected` attribute.

[2016-07-07 13:21] DevKingDigital commented on #55
Doens't seem to make a difference. Here is my markup

[code]

[2016-07-07 13:25] shentao commented on #55
When using the `on-change` attribute you have to explicit mutate the object. In your case it would be something like this:
[code]

[2016-07-07 13:31] DevKingDigital commented on #55
Still doesn't appear to resolve the issue. I mutated the object and added a `console.log` so that I could check when the method was being hit. It hits the method if there is more than one and I remove one, but if there is only one option selected and I remove that option - It doens't hit the method as nothing gets logged in the console. Also when checking Vue devtools, the `selectedRoles` data pro

[2016-07-07 13:36] shentao commented on #55
Looking into it now.

[2016-07-07 14:08] shentao commented on #55
Btw. why do you use `.bind(this)` in this forEach function? Aren’t you overriding the `this.selectedPermissions` for each of selected roles? Or is this a computed setter?
Why not something like
[code]
this.$set('selectedPermissions', roles.map((role) => role.permissions))
[code]

[2016-07-07 14:25] shentao commented on #52
As far as I know, regular inputs accept only primitives as value.
Right now multiselect doesn’t support recognizing whole objects based on the `key/id` (even if it uses it internally to match and compare objects).

I’m not sure what you mean by *normal form submit data*. If you use regular XHR requests (or with a wrapper library like `vue-resource` or `axios`) you can send a JSON object. The same

[2016-07-07 14:33] shentao commented on #51
Right now this is not supported.

However, there is a `touched` attribute which you can use for easier validation together with validating the selected prop.
See example: http://monterail.github.io/vue-multiselect/#custom

[2016-07-07 14:40] shentao commented on #48
I want to deprecate some more of the callback functions (together with support for `.sync`) that we have right now and on-search-change is one of them.
Instead, we could simply `$emit` events like `on-change`, `on-search-change` etc. This would probably make it easier to control and would simplify parts of the code.
I will try to implement it this weekend.

[2016-07-07 15:46] dobromir-hristov commented on #52
No I had to do a normal form.submit() on the form. Complicated to explain but to work around this i had two inputs. For the value and for the Label. If I used multiple prop I just separated the values with a comma and all worked.

[2016-07-07 18:42] gj1118 opened #56 "How do i populate the dropdown after the user has entered something and press enter"
Hi,
I am trying to implement the case where the component acts as a traditional search box. Once when the user has entered something and pressed the enter button , I would like to use the user's input criteria as the search parameter and pass it to the API. The API would then return me all the values based on the user's search criteria. Now, the API is ready, but I am not sure how to use vue-multi

[2016-07-08 09:36] shentao commented on #52
Could you provide a snippet of the submit code? Is this some kind of remote service where you send the form?

[2016-07-08 10:31] LukasKnuth commented on #49
Any updates on this?

[2016-07-08 10:51] shentao commented on #49
Probably today!

[2016-07-08 14:56] #55 closed

[2016-07-08 15:27] shentao commented on #55
@DevKingDigital Hey, why did you close the issue? Does it work now? Where was the problem

[2016-07-08 15:53] asvae commented on #56
@gj1118

You probably want typeahead and not multiselect.

But I did something similar [here](https://gist.github.com/asvae/0cac596565396356ad5e42736a20ba35). Though, I won't advise this solution.

[2016-07-08 18:41] shentao commented on #49
@LukasKnuth It’s not often I use the global scope so sorry for the late answer. You can register the component like this:
Globally:
`Vue.component('Multiselect', VueMultiselect.Multiselect)`

or locally:
[code]

It didn’t work with simply registering `Vue.component(VueMultiselect)` as there are more files exposed in the module, that’s why you have to explicitly request for the `VueMultiselect.Mult

[2016-07-08 18:41] #49 closed

[2016-07-08 19:13] shentao commented on #56
@gj1118 Hey there!
Is this API call correct? You’re not passing the `item` query into the `$http` request.

What does those console.logs print inside the `then` callback?

The above example should work except for the case when the returned books do not contain the search phrase in any of the keys. For example, you search for `Witcher` and the returned array looks like this:
[code]

Multiselect doe

[2016-07-08 21:20] dobromir-hristov commented on #52
I will try to give a better explanation later.

[2016-07-08 21:23] dobromir-hristov commented on #48
Just what I was looking for, there are no events emitted atm. A on-closed event would be nice, if you want to use the multiple multiselect`s selected data just after some is done with their selecting?

[2016-07-08 21:24] shentao commented on #48
Hey @asvae, @dobromir-hristov!

Please look into #57 as this might be something you had in mind.

[2016-07-08 21:32] dobromir-hristov commented on #48
Yeah I saw. Will it support current vue 1.x ?

[2016-07-08 21:37] shentao commented on #48
So far yes. It just requires the developer to always react to the `change` event to change the `selected` model.

[2016-07-08 21:41] shentao commented on #52
In the other issue you asked for an `on-close` event. If you need something similar to it, you can pass a callback function to `:on-change` prop. This method would need to accept the `selected` new value. Additionally you would have to remove the `.sync` modifier.

You can look into the documentation at the Vuex section.

Hope this helps.

[2016-07-08 21:45] gj1118 commented on #56
Hi damian , the api call was just a sample one but i think for my purposes
i will have to use typeahead.

I only need to fill the options with the information that matches the
criteria has mentioned ..

Thanks
On Jul 8, 2016 3:13 PM, "Damian Dulisz" <notifications@github.com> wrote:

$http request.

do not contain the search phrase in any of the keys. For example, you
search for Witcher and the re

[2016-07-08 21:49] shentao commented on #56
Okay :)

If you change your mind you can look into the documentation at the Asynchronous dropdown part.

[2016-07-08 21:49] #56 closed

[2016-07-09 14:37] jpmurray commented on #34
Using this component with Laravel Spark at the moment, I'm getting also those error, with the brackets added.

[code]
Using it with this: `<multiselect :options="options" :selected.sync="selected"></multiselect>`

Now I really dont understand fragments instance, I just can't wrap my head around the concept, but might I get this error because I call it from within an another component (think `<comp

[2016-07-09 15:07] shentao commented on #34
I’m not sure that the above construction is actually valid. Because you try to register another component named `'multiselect'` with Multiselect as a child component.

If you need to register the multiselect component globally please do it as in the Vue docs.
[code]

If you intend on wrapping vue-multiselect inside another component, please try the following code:
[code]

You could try omiting the

[2016-07-09 15:17] jpmurray commented on #34
I'll be damned, it works by adding the template to the component ;-)

Thank for that!

(And wow, do I don't get fragment instance! haha)

[2016-07-09 15:18] shentao commented on #34
Haha :D I’m glad to hear that!
Just wondering, does it work if you remove the `<div></div>` from the template?

[2016-07-09 15:19] jpmurray commented on #34
It does!

[2016-07-09 15:31] jpmurray commented on #34
Oh, wait, @shentao, I take back what I said. Without the div, it works, it doesn't throw fragment instances errors, but Vue-devtools still flag the component as fragment. Putting back the div will make things perfect.

[2016-07-11 08:49] shentao commented on #54
@asvae the library is used in a project with IE 9 support and works there quite well.

So to sum up the support is same as Vue’s – *All modern browsers (IE 9+)*.

The docs weren’t made with IE in mind so that’s the problem why the demo page is unusable. :(
I should fix it later on.
As for tab navigation support, this might be a bug, because sometimes it works, sometimes not (in Firefox).

[2016-07-11 13:56] LukasKnuth commented on #49
Works great, thanks for taking the time. Cheers!

[2016-07-11 13:59] shentao commented on #49
No problem! Thanks for pointing it out. I should add this somewhere in the docs / readme.

[2016-07-12 17:39] antongorodezkiy opened #58 "Cannot read property 'length' of undefined (this.search)"
I've faced the following error:

[code]

Changing `v-show="filteredOptions.length === 0 && search && search.length"` to `v-show="filteredOptions.length === 0 && search && search.length"` seems could fix it.

For now I just override the template.

[2016-07-12 19:25] shentao commented on #58
Will look into it. Thanks! :)

[2016-07-13 08:15] dobromir-hristov commented on #48
Just a quick one. How do I know from where the change event is fired? I cant pass the event it self to my method, right?
I mean I dont want to have a method for every single multiselect, because most of them are generated within a foreach.

[2016-07-13 08:25] shentao commented on #48
Been thinking about this lately.
Came up with an idea of a unique ID of the component, that would be always passed as a second argument on every event from #57. But this would be only possible after those changes are published.

Right now I avoid this problem in my project with `v-for` looping a smaller component (per record) where each has one multiselect. Thus I can use a single component’s meth

[2016-07-13 08:40] dobromir-hristov commented on #48
Yeah, and ID of some sort would be good. It can even be a prop that gets passed from the parent. Well I will just have to go with what I got atm. The emit event is pretty much the same as the onChange prop from before so, I will probably roll back to the master branch.

[2016-07-13 08:45] shentao commented on #48
The PR is work in progress so I wouldn’t use it in production. I still have to fix the tests and do some more changes. Also as this would deprecate the `.sync` option (major breaking change) I need to be 100% sure it works fine. Yes, the ID would be passed as a prop. Creating unique ID inside the component is out of the responsibility of the component.
I would try the approach with forEaching a sm

[2016-07-13 08:53] asvae commented on #48
@dobromir-hristov

Like this, I guess?
Template:
[code]

Script -> methods:
[code]

And you also can
[code]
and pass the data object from the select

[2016-07-13 15:25] dobromir-hristov commented on #48
Hm did not know if I could use $arguments. Could try later.

[2016-07-13 21:51] shentao commented on #58
Working on a new release right now. I will implement this fix there.
You can actually just write `v-show="filteredOptions.length === 0 && search"` and it works this way.

[2016-07-13 22:59] antongorodezkiy commented on #58
Thank you!

[2016-07-14 16:32] sleimanx2 commented on #51
cool will check it out

[2016-07-15 17:03] Big-Shark opened #59 "Problemm with getOptionLabel"
Hi.

I have a small problem
![rsz_1screenshot_from_2016-07-16_02-56-37](https://cloud.githubusercontent.com/assets/646054/16882268/82727386-4b01-11e6-8e62-e0871af5837b.png)

This is my template
[code]

What am I doing wrong?

[2016-07-15 17:28] shentao commented on #59
You can remove the `:searchable` prop, as by default it is true.
This looks like a single-select so you can also remove `:clear-on-select` as it might be not necessary.
What does the console throw? There must be something as the `getOptionLabel(option)` didn’t work.
How does the `users` Array look like? Looking at the props you passed it should look similar to this:
[code]

[2016-07-15 17:33] Big-Shark commented on #59
@shentao Console log showing this error
[code]

My search method
[code]
and response
[code]

[2016-07-15 18:13] #58 closed

[2016-07-15 18:13] shentao commented on #58
@antongorodezkiy Fixed in 0.3.1

[2016-07-15 18:13] shentao commented on #59
Fixed in 0.3.1 :)

[2016-07-15 18:13] #59 closed

[2016-07-16 02:15] Big-Shark commented on #59
@shentao I updated your library and this error ("[Vue warn]: Error when evaluating expression "filteredOptions.length === 0 && search.length": TypeError: scope.search is null (found in component: <multiselect>) ") is fixed, but I see same result, label does not work.

I think I found a reason, I use changed delimiters
``
Vue.config.delimiters = ['${', '}'];
[code]

[2016-07-16 02:41] Big-Shark commented on #59
@shentao Yes, I am right, I changed my delimiters to standard, and all it works, thanks

[2016-07-16 07:13] shentao commented on #59
I looked at the component’s template and this can be probably fixed. I will try to do it during the weekend. Thanks for bringing this up! :)

[2016-07-19 16:02] mattjneuber opened #60 "Custom Vue delimiters not obeyed"
In my app, I use [[ ]] as Vue delimiters instead of {{ }}. Upon trying to use vue-multiselect, the options displayed in the dropdown are all {{ getOptionLabel(option) }} since Vue isn't using the curly braces.

[2016-07-19 16:05] shentao commented on #60
I'm currently working on a solution for this problem. It will come with a big release soon (see #57). Please be patient!

[2016-07-20 23:43] dleesalestreamsoft opened #61 "ComboBox feature?"
I realized there is tagging for multiselect but for single select I would think it might be great to have a tagging like feature that you can choose the dropdown menu option or enter one that isn't in the options.

[2016-07-21 08:42] shentao commented on #61
I’m working on the 1.0 release right now. I will let you know if I can make the tagging feature work this way for single-selects. :)
You can check the progress here #57

[2016-07-21 15:42] jpmurray opened #62 "Display bug with "press enter to select" and long label"
Here's what it does...

<img width="560" alt="screen shot 2016-07-21 at 11 41 09" src="https://cloud.githubusercontent.com/assets/1550428/17029154/17c86064-4f38-11e6-92fb-d577c5a4c706.png">

[2016-07-22 06:44] shentao commented on #62
You can remove the labels passing a prop `show-labels="false"`.
I’m also adding this to the list of planned improvements in 1.0 release. (WIP #57)

[2016-07-22 09:48] CinKon opened #63 "Vue 2.0 compatibilty issues [THREAD]"

[2016-07-22 09:51] shentao commented on #63
As I’m now working on the 1.0 release (which will introduce some breaking changes, like deprecating `.sync`). I want it to also be the base for 2.0 release that would support Vue 2.0, which should be available shortly after publishing new docs for Vue 2.0.
Current progress can be seen here #57.

[2016-07-22 18:14] dmitov opened #64 "Browserify and/or Laravel Elixir issue"
Hello there,

I'm using the mentioned to process my js files and I get this error:

Any advice?

[2016-07-24 10:10] mstnorris commented on #42
First of all, apologies that I can't offer any support for the documentation as I am new to this. I was actually looking at the documentation and couldn't get my head around it.

Your plugin is very nice and as per the examples that you _do_ have I can see it works very well.

A few suggestions if I may, please could you add a "Getting Started" section that walks someone through from start to fini

[2016-07-24 10:19] shentao commented on #42
Hey!

Yeah, I know the documentation isn't perfect. It is in the road map to further improve it. I already have some ideas how to accomplish this. Before this happens, I want to finish the new release as it will introduce some changes to the component's API.

[2016-07-24 10:21] mstnorris commented on #42
Thanks for your reply! Someone helped me get a basic select up and running... I'm using Laravel and Elixir. However I need to get searching, tagging, and AJAX working.

Thanks for this though, I'll be sure to check back soon.

If I think of a way I can help then I'll let you know. Likewise, if you get stuck with anything, then ask, if it is in my remit, and if I can help I will.

[2016-07-24 11:38] shentao commented on #64
Hardly. I’m not a Laravel Elixir user. There were such problems before with this (but with different error messages), so might check out older issues.

You might also try to upgrade your Babel, as this looks like a Babel error.

[2016-07-24 11:46] #52 closed

[2016-07-26 09:57] asvae commented on #64
@dmitov here's my [package.json](http://laravel.io/bin/wJz09). Hope this helps.

[2016-07-26 12:47] jpmurray commented on #64
Yeah, I _think_ those are thrown because you might not have included vueify in gulp?

[2016-07-26 12:51] shentao commented on #64
Btw. @asvae @jpmurray thanks for helping with the issues!

[2016-07-26 12:55] jpmurray opened #67 "[Help wanted] Multiple select field with predefined options problem"
Hello,

I have a page on which I can have a non fixed number of multiselect element. Basically, the "create" version of the page, to create an entry, works flawlessly. But, the "edit" version is causing me some trouble: I assign the value found in the database on the `ready()` method of the page's component (in which the multiselects are).

You can see in the image below what happens:

<img width=

[2016-07-26 14:04] shentao commented on #67
Could you provide some code with the implementation? This would probably help solving this problem.

Also, 1.0 (#57) will introduce breaking changes to both searching and loading (showing spinner). It will be fully controlled from within the parent component.
See line: https://github.com/monterail/vue-multiselect/pull/57/files#diff-08af04817a34c893a1d251cf084c7fefR155, the `_ajax-search.jade` file

[2016-07-26 14:27] jpmurray commented on #67
Sure. Here is part of the code for the parent component that is relevant

[code]

and here's the multiselect element

[code]

[2016-07-27 13:32] dobromir-hristov opened #68 "Weird IE Edge issue with onChange prop"
So today I discovered that ONLY on the Microsoft Edge, the multiselect's onChange prop gets called before The parent model's `this.data` has been set.

**What should happen**

`this.searchParams` Should be set as it is set via the data() call on the parent Vue
[code]

[code]
`setMultiselectValue` is used with the `onChange` prop. Here is what I get when I console each value.

[code]

How on earth,

[2016-07-27 14:03] shentao commented on #68
Please remove the `.sync` modifier when you use the `:on-change` prop. Otherwise, this might lead to some unexpected problems.

Could you try installing the 1.0 beta version? `npm install vue-multiselect@next`. There will be a small change to the code you have. Ofc other places could break, because this version introduces some breaking changes, but in your code you just have to remove the deprecat

[2016-07-27 14:14] dobromir-hristov commented on #68
Removing the .sync did not help. Gonna try the new branch, give me a moment.

[2016-07-27 14:51] dobromir-hristov commented on #68
OK I installed the branch and some of the problems got fixed. For example now on initial load at least the multiselect doesnt fire an event in Edge.

Works OK on other browsers, but on Edge when I `console.log('this.searchParams')` from the setMultiselectValue I get the same empty objects as before. This is just isnane because I`m debugging atm with firefox and all the values are good. Most strang

[2016-07-27 15:16] dobromir-hristov commented on #68
OK... Problem is lame...
searchParams is v-model binded to an input:text field so I can do a normal submit on the form later on. On Edge, because the initial value of that input is null, it replaces my Main Vue's data with empty strings...
This is a Vue.js/Edge issue of some sort...

[2016-07-27 15:18] shentao commented on #68
Ouch. I was about to go step by step through the multiselect initialization process. 😃

Well, glad it works now!
Also thanks for testing out the beta version. How do you like the changes? I would be happy to hear some feedback about the direction of changes.

[2016-07-27 15:18] #68 closed

[2016-07-27 15:22] dobromir-hristov commented on #68
Its great, but I want to see more events. For example, when you are finished selecting multiple selects when `multiple:true` then you can have a changed event.
Not sure if it works like that atm.

[2016-07-27 15:31] shentao commented on #67
Please remove the `.sync` modifier if you use `:on-change`. That might help.

Also, in your promise resolving function, you always update the last entry:
[code]
This might be the problem why the spinner is triggered and never ends. After you type into the search box it triggers the spinner and waits for the `:options` to be updated. The `:options` only get updated in the last multiselect.

Also, d

[2016-07-27 15:45] BakerCo commented on #67
I am having the same issue... except I am using vue-router and returning from the data() multiselect is overwriting the incoming value and setting it to null.

[2016-07-27 15:45] shentao commented on #68
Hmm, I could provide additional events like `@close` and `@open` that would return the current value of the multiselect. This would probably very useful when `multiple: true` as you wouldn’t need to listen to the `@update` event anymore, but to the `@close` one. The only drawback being – one would first have to close the dropdown to trigger updates.

With the `@open` event it would be possible to

[2016-07-27 15:48] shentao commented on #67
[code]

This might cause the issue. I will try to provide a hotfix for it soon.

[2016-07-27 15:52] dobromir-hristov commented on #68
Yes, one would have to close, you dont know if the user is ready selecting before that.

[2016-07-28 13:28] dobromir-hristov commented on #68
Should we change the `@update` to a `@change` so it is in unison with normal input events?

[2016-07-28 15:08] shentao commented on #68
I believe I’ve tried it, but it has been looking for the native `change` event, which it, of course, couldn’t find. But I will try it again, to make sure if that was true.

[2016-07-29 03:17] JeOam opened #70 "[V1.0] @search-change event shouldn't be emited after select an option."
version: 1.0.0-beta.1

[2016-07-29 08:07] shentao commented on #70
This might be because after selecting an option, the search value changes to either `''` (when multiple = true) or to the selected option label (multiple = false). In the first case, I don’t want to make assumptions if we should emit the event or not because some people might want to reset the options list after selecting a value. However, it is quite easy to detect if the new search value is `''`

[2016-07-29 08:26] JeOam commented on #70
@shentao Thank you very much for your detailed explanation. 👍

In my assumptions, an input change from typing will trigger a search event, as he/she may want to `type-to-search`, but while an user is going to select an option from option list, he/she must know the option list is enough, or he/she would just type-to-search again. He/she has no point to want to `select-to-search`.

`query === '' ||

[2016-07-29 08:30] shentao commented on #70
Yeah, that’s true. I guess I can move the emitter to the search input’s `@change` event. That would probably solve all problems. But this would also require to reset of the options list query after either closing or opening the multiselect.

[2016-07-29 14:55] JeOam commented on #70
@shentao or add an option to disable the select-to-search event?

[2016-07-30 06:40] hekigan opened #72 "When form (fieldset) is set to 'disabled', the dropdown is still active"
First of all thank you for this component, it's pretty helpful.

My problem is that I want to **disable a whole form** (when submitting via ajax for ex).
I would put a _disabled_ attribute to a form fieldset, then **all inputs/buttons/etc**... are supposed to be '**readonly**' in that state.

But multiselect is still fully active. For example, when clicking the right arrow, the dropdown is shown.

[2016-07-30 19:37] shentao commented on #72
Thanks for noticing this!
I’m working on the 1.0 release right now. I will try to introduce this feature right away.

You can try out the current beta with `npm install vue-multiselect@next`.

[2016-07-31 07:21] eybarta opened #73 "Only thing missing... Grouping?"
Awesome work! thank you. One important feature I'm looking for to
start using this plugin would be grouping, similar to SELECTIZE, etc..
where I'd be able to visually split the 'options' in the dropdown
by categories, very important in my specific case.
Any plans on implementing something like this? or maybe it already
is and I completely missed it in the docs..?!
Thanks

[2016-07-31 08:49] shentao commented on #73
Had this in mind (was in the road map before the last change to it). I will probably introduce this feature after the 1.0 release.

[2016-07-31 08:51] eybarta commented on #73
Great! I'll be waiting.. :)

[2016-07-31 10:50] shentao commented on #73
Btw. You can already try out the 1.0 beta: `npm install vue-multiselect@next`

[2016-07-31 21:47] #6 closed

[2016-07-31 22:24] #62 closed

[2016-07-31 22:26] #31 closed

[2016-07-31 22:29] shentao commented on #72
Fixed in v1.0.0

[2016-07-31 22:29] #72 closed

[2016-07-31 22:29] shentao commented on #70
Fixed in v1.0.0

[2016-07-31 22:29] #70 closed

[2016-07-31 22:30] shentao commented on #60
@mattjneuber Fixed in v1.0.0

[2016-07-31 22:30] #60 closed

[2016-07-31 22:30] shentao commented on #48
@dobromir-hristov @asvae Fixed in v1.0.0

[2016-07-31 22:30] #48 closed

[2016-07-31 22:31] shentao commented on #67
@jpmurray I changed the above code in the v1.0.0 release. Let me know if this helps.

[2016-08-01 12:45] jpmurray commented on #67
@shentao I'll be looking at it in the coming days, I've been über busy lately, haven't got a minute yet to actually read all of your replies! ;-)

[2016-08-01 12:56] shentao commented on #67
Sure thing!

[2016-08-01 18:04] Lafriks commented on #63
Will it support v-model for 2.0?

[2016-08-01 19:15] theseawolves commented on #34
May be the fault is  globally use like this:
[code]

but the correct use is like this:
[code]

[2016-08-01 21:03] shentao commented on #63
Sadly no. We don’t support `v-model` at all.

[2016-08-01 21:05] shentao commented on #34
@theseawolves This is true if you import it globally, otherwise
`import { Multiselect } from 'vue-multiselect'` is correct.

[2016-08-02 23:49] theseawolves opened #75 "[Question] How to access to multiselect component ref"
I want to make a cascade componet A-multiselect with B-multiselect comp by a list  dynamically

[code]
how can i access the comp when it updated , selected or removed ?
**suggestion: can the multiselect comp can expose the refs when emit event ?**

[2016-08-03 08:48] shentao commented on #75
You can’t. You can however, detect which component emitted the event by using the `:id` prop.
The code would look like this:

[code]
[code]

[2016-08-03 14:57] BakerCo commented on #67
I tried with my issue, has the usage changed? `:selected.sync="model"` no longer works for me. the model is no longer bound to the multiselect.

[2016-08-03 16:41] shentao commented on #67
@BakerCo Yes, the usage has changed, hence the version change to 1.0.0. Please refer to the updated documentation.

[2016-08-03 21:58] theseawolves commented on #75
Yes,I update to the latest Multiselect , use the `:id` prop and `v-ref` directive.
[code]
[code]
not elegantly but satisfied my requirement temporarily.

[2016-08-04 09:01] shentao commented on #75
Why do you need to find the element anyway?

[2016-08-04 10:44] Uninen commented on #63
It would be nice to have the information on the project page and help documents of what Vue version is supported (and what is not).

If I understood correctly, the current version does not support Vue 2?

[2016-08-04 11:35] shentao commented on #63
No, it doesn’t, but the work on v2.0.0 will begin shortly (I already have some drafts for it). I intend to support both Vue 1.0.x and 2.0, where support for 1.0 will be dropped after few months.
I will add the support information when Vue 2.0 is officially released.

[2016-08-04 11:40] Uninen commented on #63
Sounds good!

It would be nice to be able to follow the 2.0 development so that projects using Vue 2 beta could also use vue-multiselect (2.0 beta?) as well :)

[2016-08-04 11:48] shentao commented on #63
I really wish I could do this faster but hey, we just have 24 hours a day.
The only exception to this rule is probably Evan, who seems to bend the time, considering how fast the development for Vue 2.0 goes. :D

Back to topic – there is a way easy way to make it support Vue 2.0, where probably the only tricky part is recreating the deprecated built-in filters.
Sadly I believe this approach is not

[2016-08-04 11:55] Uninen commented on #63
Evan also has the luxury of bending the time 24 hours a day :)

Not trying to push this at all, just saying that when there is a version that is usable with Vue 2 (beta or final), it would be nice to have it on the repo as a branch to be able to test it, too. Iterating the refactor process seems to work quite well with Vuex 2, it might work here, too!

[2016-08-04 11:56] shentao commented on #63
I guess so. :) I might find some time to provide one by the end of the week, but no promises on that!

[2016-08-04 23:53] theseawolves commented on #75
Let me try to explain that. I will put the reproduction in JSFiddle later.

- My app is a simple "fields condition + result tables", fields change, result tables change.
- All the fields and the Multi-Select options fetch by ajax  from server (Vue-Resource),
- Some fields options is not independent, so need to find the element in order to change the other options

All things is dynamic, it really

[2016-08-07 02:29] jpmurray commented on #67
SO.

I'm sorry, I hardly had to time validate your precious imputs of the last days sooner, but here I am.

Basically, I just followed your comment [over here](https://github.com/monterail/vue-multiselect/issues/67#issuecomment-235623550) while updating to 1.0.1 and it just works. It was probably, like you said, just a matter of what instance I was trying to update. Passing the id attribute makes

[2016-08-07 02:29] #67 closed

[2016-08-08 08:20] shentao commented on #63
@Uninen So I got a beta on the 2.0 branch, but didn’t had time to publish it to npm as `@next` version. I hope to do it today or tomorrow. You can already try it yourself (and even build it with `npm run bundle`) using the mentioned `2.0` branch.

[2016-08-08 08:30] shentao commented on #67
Really glad to hear that!

Let me know if there are any other issues with the new release.

Cheers!

[2016-08-08 13:09] MaxHalford opened #77 "HTML templates"
Hello,

After pulling my hair with loads of libraries (Select2, Chosen, etc.), it's been a pleasure using vue-multiselect.

Me and some colleagues were wondering if there was something in the roadmap to integrate custom templates? For example if we had countries as options we would like to integrate a little flag next to the country name.

Regards, and nice work.

[2016-08-08 14:07] shentao commented on #77
Hey!
That’s really nice to hear, thanks!

It is actually in the roadmap hidden under the *Support for partials* point, which would basically mean that one could just pass a *partial* to compile using the components scope. This is different from how *slots* work, in that slots are compiled using the parent’s scope.

Right now, you can accomplish this by creating a custom component (your own Multise

[2016-08-08 14:28] shentao commented on #75
I think that this is might be a bad pattern to operate on components from `this.$refs` list. Also, I don’t think that passing a value to the `id` prop and then changing it is a good practice too. I believe it would be better to always operate on the data model and let the reactivity system do the work on updating the DOM.

Please provide the mentioned JSFiddle, so I could potentially help. :)

[2016-08-08 21:40] shentao commented on #77
Och well, couldn’t wait... 👻
@MaxHalford check out the **1.1.0** version: http://monterail.github.io/vue-multiselect/#partials

[2016-08-08 21:40] #77 closed

[2016-08-08 23:04] hootlex opened #78 "Version 1.1.0 doesn't work properly"
Congrats on the Version 1!

Though, when using v1.1.0, lib/vue-multiselect.min.js file is 109kb while it should be around 30kb.

Also, when used like the previous versions, it returns the following error and doesn't show any options:

`
[Vue warn]: Failed to resolve partial: multiselectBasicOptionPartial (found in component: <multiselect>)
`

After switching to v1.0.1 the error goes away, and the

[2016-08-09 02:37] theseawolves commented on #75
Sorry for the busy days and thank to your attention.
I do have some confuse about data init , ajax and  reactivity , need some good practices :)

[JSFilddle is here](http://jsfiddle.net/3ybbswL7/16/)
[code]
[code]

[2016-08-09 07:56] shentao commented on #78
Thanks a lot for your quick notice!
Sorry everyone! Nightly builds (published after midnight) are never the most stable ones. :/

Already fixed in v1.1.1! Once again thanks!

[2016-08-09 07:56] #78 closed

[2016-08-09 08:37] shentao commented on #75
I will look into it after work. :)

[2016-08-09 08:57] MaxHalford commented on #77
You rock! :)

Sent with MailTrack
<https://mailtrack.io/install?source=signature&lang=en&referral=maxhalford25@gmail.com&idSignature=22>

On Mon, Aug 8, 2016 at 11:40 PM, Damian Dulisz <notifications@github.com>
wrote:

--
Max Halford
CMI SID
Toulouse III
06.28.25.13.38

[2016-08-09 09:25] shentao commented on #77
Thanks! There were some complications but the v1.1.1 should be stable. :)  Glad I could help!

[2016-08-09 15:37] dabernathy89 commented on #42
Hey, this component looks awesome. Can't wait to use it. The only thing in the docs that didn't seem too clear to me is "tagging" - I just don't understand what it means. The async example and the tagging example look exactly the same to me (apart from the async-ness, of course).

[2016-08-09 17:51] hootlex commented on #78
No problem @shentao :)

[2016-08-09 17:57] ignaciovazquez opened #79 "Avoid post-filtering"
Hi!

I'm using vue-multiselect to match a number of options via Ajax (loving it so far!)

Even though we set the options propertly, we found that if the search string typed in the select is not present in the actual "label" property, the field is not displayed.

It looks like vue-multiselect is running additional string matching filters after we set the options.
Is it possible to disable the post

[2016-08-09 18:02] shentao commented on #79
Right now it’s not possible but I guess I can introduce such prop option soon. Thanks for the idea!

[2016-08-09 18:13] shentao commented on #42
Tagging makes it possible to actually create your own options based on the search phrase. This can be useful for situations where you provide a basic list (for example a list of hobbies that other users already submitted), but also give the user the ability to create a new option for their hobby if it wasn’t on the list already.
As for the example in the docs, just type something that isn’t on the

[2016-08-09 18:40] dabernathy89 commented on #42
@shentao thanks, that makes a lot of sense now.

[2016-08-09 18:40] shentao commented on #79
Hey @ignaciovazquez!
I added `:local-search` in v1.1.2. Set it to false to omit the local filtering based on search query. This should work fine with results from Ajax calls. :)

[2016-08-09 18:52] shentao commented on #42
I can understand that it might not be clear, especially today, there was a small bug (not showing the highlight labels introduced this morning) that you actually helped to fix! 👍
Thanks!

[2016-08-09 20:42] ignaciovazquez commented on #79
That's great, thanks! I was about to send a PR with the changes, but better if it comes from the source.

Thanks for the swift response time.

Ignacio

[2016-08-09 20:51] #79 closed

[2016-08-09 20:53] shentao commented on #79
No problem! ;)

Found a bug, so I had to publish a patch version anyway.

[2016-08-10 08:03] lionel-bijaoui opened #80 "Can't handle `undefined` value"
Hello,
when value is set to undefined, the console show these messages:

[code]

A simple check to convert undefined to an empty array could be an easy solution, no ?

[2016-08-10 09:00] shentao commented on #80
How do you initiate the component? The `value` property is a private one and it shouldn’t become undefined. Could you provide steps to reproduce?

[2016-08-10 09:11] FrizzaUK opened #81 "Dynamically resetting select box"
I am trying to reset a select dropdown based on another action on my page.  I have tried setting 'selected' to null but the 'value' of the select still holds the original selected option.  Unless I am missing something is there a way to do this?

Thanks.

[2016-08-10 09:14] shentao commented on #81
This should work. We’ve got a watcher on `:selected` prop.
[code]
What happens if you set the `:selected` prop to for example empty object / empty string / empty array?

[2016-08-10 09:24] FrizzaUK commented on #81
If I set 'selected' to an empty object then it resets OK, however if it is set to null then nothing happens.  I can work with that, can't believe I didn't try that!

[2016-08-10 09:37] shentao commented on #81
Weird. Maybe it is a problem with the watcher. I will look into it in spare time.
I hope that you can work with the empty object for now.

[2016-08-10 09:37] #81 closed

[2016-08-10 13:37] lionel-bijaoui commented on #80
Thank you for your answer, I'm sorry to not have provided more details.

I have implemented vue-multiselect in [vue-form-generator](https://github.com/icebob/vue-form-generator/) in an effort to make it less dependent on jQuery and bootstrap.
In our dev sandbox, you can see randomly created data (fake users), modify them and update them. There is a button to add a new user from scratch, and this f

[2016-08-10 14:14] shentao commented on #80
Thanks for more details!
I will try to look into it this week! :)

[2016-08-11 13:49] FrizzaUK opened #82 "HTML Custom Label"
Hi,

Now that you have just added Custom option templates, any chance of allowing the 'customLabel' function to support HTML?

Thanks.

Matt

[2016-08-11 13:50] shentao commented on #82
Not yet. This feature will be merged in 2.0 release anyway, as it will be just a customRenderFunction then.

[2016-08-11 14:08] FrizzaUK commented on #82
Super, I will wait for version 2.

Good job with the library it is working well :)

[2016-08-11 14:08] #82 closed

[2016-08-11 14:09] shentao commented on #82
Glad you like it :)

[2016-08-13 07:30] sohelamin opened #83 "Single select issue"
Hey,

I want to use the component as singleselect
Suppose, I've an array of options where I want to select by given a key of object eg: my key is ```event = 'event1'```
and the code is like
[code]

Is that possible or do I need to compute the changes every time?

[2016-08-15 10:21] inanimatt commented on #63
Hi @shentao - it'd be really great if you could publish the `@next` version on npm!

[2016-08-16 06:43] shentao commented on #83
Hey! Sorry for the late reply.
The `.sync` modifier is deprecated since v1.0.
Your code should look  like this:

[code]

[code]

This is exactly as the [docs example](http://monterail.github.io/vue-multiselect/#select-object).

[2016-08-16 06:43] #83 closed

[2016-08-16 07:11] shentao commented on #63
@inanimatt Still working on it. I might publish it 'as is' today after work, if that’s fine with you.

[2016-08-16 07:44] sohelamin commented on #83
Thanks for the reply @shentao

Actually I was looking if I can set the selected property as key and also return as key instead of the entire object.
No problem :)

I've made a wrapper component for this.

[code]

[2016-08-16 08:10] shentao commented on #83
Sorry, I must have misunderstood you. Yes, if you just want to work with the keys, you need to derive it from the selected object and the other way around when setting it.

[2016-08-16 09:19] sohelamin commented on #83
Its okay 👍
Now I've no issue with that wrapper.

BTW, You did really a great component.

[2016-08-16 09:29] shentao commented on #83
Thanks! I guess, I can implement such functionality (preselecting based on just the key) into the 2.0 release.

[2016-08-16 09:49] sohelamin commented on #83
That will be great. But if you can please do it on 1.0 version too cause there are many legacy apps based on Vue 1.x.x

Or if you want then I can help you.

[2016-08-16 10:00] shentao commented on #83
We’ll see. The priority for this is lower than publishing 2.0 beta though.

[2016-08-16 12:07] inanimatt commented on #63
@shentao super-fine! Sorry, the comment above suggested that you were going to do it last week so I thought you might've forgotten. If it's not ready, it's not ready. 😄

[2016-08-17 08:51] SidKwok opened #85 "Add slot for tags"
I don't want my tags to be all green. How can I change the color?

[2016-08-17 09:47] shentao commented on #85
Hey!

Look at the Multiselect.vue file here: https://github.com/monterail/vue-multiselect/blob/master/src/Multiselect.vue

You have to override the css styles.
The class for tags is `.multiselect__tag`.
If you want to change the background colors for highlights you have to override `.multiselect__option--highlight` and `
.multiselect__option--selected.multiselect__option--highlight`.

[2016-08-18 02:32] SidKwok commented on #85
Oh, Thanks. But what should I override if I want three different colors on three different tags?
Coz in some cases I need different colors to show the different meanings in tags.

It would be better if I can custom the colors like this:
[code]

[2016-08-18 06:41] shentao commented on #85
This is sadly not possible right now. It would require a custom partial for tags, which is a much smaller thing than custom option list. I might however introduce such feature in the 2.0 release as custom render function for tags.

[2016-08-18 06:46] SidKwok commented on #85
That would be greate! Look forward to the 2.0 release. `:)`

[2016-08-18 14:52] scrwdnet opened #86 "Error on @update"
I'm receiving the following error when using the `@update` binding:
`Uncaught TypeError: Cannot read property 'apply' of undefined`

I have the component registered:
[code]

HTML:
[code]

The multiselect works perfectly it just gives the error when updating. Not sure if it is something to do with my webpack setup? This is what I can see when looking further into the error (not sure how helpful it

[2016-08-19 18:28] shentao commented on #86
That’s weird. Would you mind trying to register it locally?
Also, where is your `updateSelectOptions` method located?

[2016-08-19 18:52] shentao commented on #86
Hey @scrwdnet! I managed to reproduce this problem locally.
The global component registration doesn’t cause any problems. Uff... :)

However, the problem happens when the `updateSelectOptions` method isn’t defined on the component, where the multiselect is used. Is the method defined in the same component the `postcodes` data is?

[2016-08-20 03:18] lem93 opened #87 "Cant get two-way value syncing to work"
How can i send the country key through the event and get the corresponding country selected.
right now it just gets overwritten to a string.

[code]

[2016-08-20 08:51] shentao commented on #87
That's because two-way binding is deprecated since 1.0 release. You need to
handle updating the selected value with the
`@update="updateSelectedHandler"`. Please look into the docs for details.
W dniu sob., 20.08.2016 o 05:18 Luis Espinosa de los Monteros <
notifications@github.com> napisał(a):

[2016-08-20 10:38] shentao commented on #87
That's because two-way binding is deprecated since 1.0 release. You need to
handle updating the selected value with the

[code]

event handler. Please look into the docs for details.

[2016-08-20 18:02] lem93 commented on #87
Thanks for answering ,but how to can i change the selected option from the parent sending the country key.

Parent
[code]
Multiselect
[code]

[2016-08-20 19:57] shentao commented on #87
I guess you need to set the whole object not just the key. This is because the `:selected` prop expects an object it would find inside the `:options` prop. If there is no way to broadcast the whole object to the child, try using the `find` array method.

[code]

Also if this is just a wrapper component, what about passing the selected value and countries as props and skipping the `$broadcast`? In

[2016-08-20 20:53] shentao commented on #87
Happy to help! :)

[2016-08-20 20:53] #87 closed

[2016-08-20 21:43] shentao commented on #63
@inanimatt sorry that this is coming so late. I’ve been fighting with the tests (not yet finished). Anyway, you can try the beta version installing `vue-multiselect@next`.
It might be unstable though. Any feedback and issues would be much appreciated!

[2016-08-20 22:10] inanimatt commented on #63
@shentao awesome! I'll give it a go :)

[2016-08-20 23:14] inanimatt commented on #63
First impressions on switching over: works great! Since I'd already moved away from using sync (because of vuex), the transition was trivial; change `:on-change` to `@update`, `:searchable="searchable"` to `:searchable="true"` and `:on-search-change="mySearchFunction"` to `@search-change="mySearchFunction"`, and finally debounced the search functions with lodash. Thanks so much for not dramaticall

[2016-08-22 07:44] scrwdnet commented on #86
Hey @shentao just been looking into this for the past couple of hours, you are right I didn't have the method on the right component it was in a sibling component and I must have had a bad case of code blindness!

Thanks for taking the time to have a look into it for me. Would it be worth adding in a check for the method and throwing an error message if it doesn't exist might help someone in the f

[2016-08-22 07:47] shentao commented on #86
Haha! It happens to the best of us! :D

You’re right, but this is more a Vue related issue. Maybe you could suggest adding such error message to Vue?

[2016-08-22 07:47] #86 closed

[2016-08-22 07:50] scrwdnet commented on #86
Ahhh ok, yeah I'll bring up an issue and see if they can add something helpful :D

[2016-08-22 14:24] icebob opened #88 "Prop check warn if max is null"
I got a vue-warn if `max` property is `null` because in the source code the `max` prop default value is a boolean
https://github.com/monterail/vue-multiselect/blob/master/src/multiselectMixin.js#L171

[code]

[2016-08-22 14:26] shentao commented on #88
I guess I will change it to default 0, as it should evaluate to false. This is introduced by stricter props checking in Vue in more recent versions.
Thanks for pointing this out!

[2016-08-22 16:16] MaxHalford opened #89 "Problem deleting options in multiple scenario"
Hello!

I'm pulling with a weird bug. I've instantiated a `Multiselect` component with the multiple attribute set to `True`.

If I select a few options and try to delete an option other than the last, then the last one gets deleted and not the I wanted to delete.

![Example](http://g.recordit.co/tboyHfq8iu.gif)

Is this happening to anyone else? Please tell me if you need to know anything about my

[2016-08-22 18:13] shentao commented on #89
Does the options array consist of objects? If yes, you have to pass the `key` prop, which will be used to compare the options. The key values have to be unique.
Is this prop present?

[2016-08-22 21:54] voronianski opened #90 "Error while using multiselect with JSX"
I have such an error in my console which breaks the app:

[code]

I'm using the component inside JSX render method like:

[code]

[2016-08-22 22:24] voronianski commented on #90
https://github.com/vuejs/vue/issues/2756

[2016-08-23 06:52] shentao commented on #90
Which version of vue-multiselect are you using? There is a beta version that supports Vue 2.0.
Please `npm install vue-multiselect@next`. It should be working then.
I will add a notice that the 2.0 supporting beta is available. :)

[2016-08-23 06:52] #90 closed

[2016-08-23 09:55] MaxHalford commented on #89
I feel silly now haha. Thank you very much. You may close the issue :)

[2016-08-23 09:56] #89 closed

[2016-08-23 09:56] shentao commented on #89
No problem! 😄
Glad I could help!

[2016-08-23 10:05] voronianski commented on #90
@shentao thanks!

[2016-08-23 12:25] shentao commented on #82
Btw. @FrizzaUK this is already supported in 1.x :)

[2016-08-24 18:37] IvanBernatovic commented on #34
@shentao

Hello, I have the same problem and I've tried everything suggested here, still no solution. I tried registering multiselect as global component, used it as a child component to my custom component, tried to use it in .vue component file, tried to use it in custom component markup (using inline-template directive). Tried it with both of these combinations for importing:
`import { Multisel

[2016-08-24 18:48] IvanBernatovic opened #91 "Multiselect is always fragment instance"
@shentao

Hello, I have the same problem and I've tried everything suggested in issue #34 and #36, still no solution. I tried registering multiselect as global component, used it as a child component to my custom component, tried to use it in .vue component file, tried to use it in custom component markup (using inline-template directive). Tried it with both of these combinations for importing:
`i

[2016-08-24 19:05] Falanyx opened #92 "Key property on Multiselect undefined when set (@next)"
In the 2.0 (next) version of vue-multiselect, the key property on the multiselect element is undefined even when set explicitly. This is breaking the functionality of :selected when the value of that refers to an array of objects, allowing doubling up of selected elements.

Setting the value manually via the browser console with `$vm.key = "id"` causes the element to behave as expected.

Vue Devto

[2016-08-24 19:13] Falanyx commented on #92
Vue 2.0 added special (reserved) attributes `key`, `ref`, and `slot` (see vue/vuejs issue 2873). Chances are the addition of the `key` reserved attribute is the issue here. This property may require a name change in vue-multiselect as a result.

[2016-08-25 07:20] shentao commented on #92
Yeah, it must it. Will fix it ~sunday. Thanks!

[2016-08-25 17:16] shentao commented on #91
This is really weird. I can’t really reproduce the problem. Does it only happen in this parent component or everytime you try to use vue-multiselect?

[2016-08-26 10:08] alexjoverm commented on #73
+ 1, this is a most-wanted for me personally

[2016-08-26 10:11] shentao commented on #73
Been thinking about this already, but it will require some possible breaking changes to be done together with a remodel of the options list. I don’t have time this week, but next weekend I might try to introduce it.

[2016-08-26 11:03] pepf commented on #73
+1 Looking forward to see what you're coming up  with!

[2016-08-26 11:29] FrizzaUK opened #93 "IE11 search bug"
On the 'Single select with search' example:

Click on the dropdown, type in Ra then select using cursor keys and press enter.  The component has selected the correct property but the label remains as the search string ('Ra').

This works fine in Chrome but most of our users use Internet Explorer.

[2016-08-26 11:47] josepramon commented on #73
+1 on this feature

[2016-08-26 12:01] IvanBernatovic commented on #91
This is a bit complicated example for jsbin and similar services so we can deploy current version somewhere and give you access to source code. It would be really nice because we are stuck and then we would owe you a :beer: :smile:.

[2016-08-26 12:14] Chalkin commented on #91
yeah, @IvanBernatovic  and I are really stuck here.

[2016-08-26 12:29] shentao commented on #91
Are you using the newest version of multiselect? What about webpack’s vue-loader or vueify versions? Does it happen only inside of `<TagPopover>` or everywhere in the app, where you use multiselect?
@IvanBernatovic I wish I could help, so if I may look into the source code of those components, maybe I could find where the problem is.

[2016-08-26 12:57] IvanBernatovic commented on #91
We are using Laravel Elixir 6.0.0-10 which is wrapper for Browserify 13.1.0 and Vuefiy 8.7.0 setup. Multiselect version is 1.1.2 which is latest stable version for Vue 1.0.x if I'm not mistaken. Haven't tried Webpack + vue-loader yet.

I tried it only in parent component `<TimelogItem>` and got the same error. I tested it somewhere else and it worked, but used it differently (was experimenting wit

[2016-08-26 14:28] boudydegeer commented on #73
+1 \o/

[2016-08-26 14:41] jpmurray commented on #73
Guys, you can use the add reaction button to the original post if you want to +1 something. Just add a 👍 . It'll keep everyone to get notification spammed for each of the +1 comments...

[2016-08-27 07:08] JeOam commented on #63
@shentao Hello shentao, may I ask a question about `v-model` here:

As `.sync` is deprecated in Props in Vue 2.0, will you consider using `v-modal` to implement tow-way binding just like `:selected.sync` does. It makes our code cleaner and compatible with Vue 2.0 pattern:  http://rc.vuejs.org/guide/components.html#Form-Input-Components-using-Custom-Events.

Otherwise we have to write some boiler-p

[2016-08-27 09:54] shentao commented on #92
Should be fixed in 2.0.0-beta.3

[2016-08-27 16:39] Falanyx commented on #92
Confirmed working in 2.0.0-beta.3 with `trackBy` prop. Thank you!

[2016-08-27 16:39] #92 closed

[2016-08-28 07:45] shentao commented on #63
@JeOam Looks interesting! Thanks. Definitely, something I can implement. :)

[2016-08-29 07:40] rstuart85 opened #94 "Performance degrades significantly as number of options increases"
When you pass a MultiSelect component an options list of a couple hundred, everything works as expected and there is minimal lag. However, when you get into the thousands, the component is unusable, even when using it as a basic select.

I've yet to dive into why the performance is so bad as the number of items goes up (it feels like n^2 performance), but I thought it might be good to capture the

[2016-08-29 09:02] shentao commented on #94
This is a known problem among most select libraries. Handling thousands of options is simply heavy. In this case, the initial time will be quite long, as Vue needs to transform and bind all the options. After the bootstraping is done it should be a bit better, but still not good enough.

You either need to use virtualization or limit the number of options displayed. The second idea is actually qui

[2016-08-29 14:21] ropeladder opened #95 "Setting multiselect to display only (no selection possible)"
First of all, very nice component. Thanks for all your work.

This may be out of the scope of what you are building, but I would love a way to easily render the multiselect as a simple, non-editable list, for example using an "editable" or "displayOnly" property. The "disabled" property comes close, but of course it shows the dropdown arrow, delection 'x's, greys out the items, etc...

[2016-08-29 14:39] shentao commented on #95
Hey! Thanks for the kind words.

Do you need a dropdown, that can be opened but the value can not be changed?
Well, this shouldn’t be much of a problem to implement, as I would have to early return inside the `select` and `remove` methods. This and some additional styles.
But the priority for this is quite low – first the official 2.0 release.

[2016-08-29 14:55] ropeladder commented on #95
Actually I meant without the dropdown, really just an `<li>` for each of the tags with zero interactivity. Of course it's pretty easy to do something like:
[code]
...but for styling consistency and brevity it would be great to have it all within the multiselect component.

[2016-08-29 18:35] restored18 commented on #93
I second this issue, I have no problem in Firefox, but in IE 11 the search box will not clear the search string if an item is selected with the enter key.

[2016-08-30 22:43] travisamiller commented on #91
@IvanBernatovic I am also using Laravel Spark + Elixir + Vueify and found the following to work (using `<multi-select>` as the tag):

[code]

This seems to work as well:

[code]

[2016-08-31 07:08] rstuart85 commented on #94
@shentao The limiting of options sounds like a good idea.

Without looking at the code myself yet, two things come to mind:
1) Not allowing people to scroll without first typing and limiting displayed results might be an even better idea. That's an option I'd like.
2) I'm not convinced that letting people scroll results isn't doable. Implements a view window approach that gets updated in the backg

[2016-08-31 12:03] shentao commented on #91
This is really weird, but maybe somehow it helps with parsing the component. If I’m right, custom elements should have a hyphen somewhere in between, like `multi-select`.

[2016-08-31 12:11] IvanBernatovic commented on #91
@Solutions from @travisamiller work so thank you. It is strange indeed. And thank you @shentao for having a look.

[2016-08-31 12:36] shentao commented on #94
2) A regular select box can handle more options because well... there is no additional computation involved in showing each of the options. On the other hand in Multiselect, there is more work involved. Vue has to transform the whole options array, iterate through it dynamically creating the DOM elements, event handlers and so on – this takes the most time.
If I understand correctly, what you mean

[2016-08-31 13:16] shentao commented on #91
Glad it finally works. Sorry, I couldn’t help you.
@yyx990803 maybe you could provide some insight here?
I know there is just a notice which says:

[2016-09-01 16:34] nacr-dev opened #96 "Licence"
Hello,

Your project saved my life, tank you tank you :)

I just cant find info on the licence is it MIT?

[2016-09-01 20:46] mattjneuber commented on #63
I'm having trouble with the 2.0 beta and multiselect mode. It seems to allow me to continuously add the same item over and over again instead of toggling like it's supposed to.  I noticed that the mixin still adds a 'key' prop, which is used internally by Vue now in place of the old track-by, and so it seems like the value passed in via the key prop is not seen in vue-multiselect itself, which I t

[2016-09-01 20:50] Sam-Gram opened #97 "Setting selected properties not reflected in dropdown state"
When I programmatically add selected values to the multiselect, it doesn't reflect this in the dropdown.

![vue-multiselect problem](https://cloud.githubusercontent.com/assets/6521724/18183669/aa618e10-7052-11e6-84f7-7ce107c2730b.png)

Notice in this example that the 'DEEP RED', 'MELOGOLD', and 'OROBLANCO' varieties are all selected, but they do not show the normal selected state that vue-multisel

[2016-09-02 08:23] shentao commented on #96
Hey! Thanks for the kind words. :)
The license is MIT (found in the package.json file).
I guess I should add the licence info at the bottom of the readme.

[2016-09-02 08:23] #96 closed

[2016-09-02 08:54] shentao commented on #63
This is already fixed in the beta release. You have to use the `track-by` prop instead of `key` on multiselect.

[2016-09-02 11:32] nacr-dev commented on #96
oh ok, tks :)

[2016-09-02 18:10] adrianolobo opened #98 "hide-selected not working when selected is Set"
The prop :hide-selected does not work then the :selected prop is set. It still shows all the selected options.

[2016-09-03 09:08] shentao commented on #97
Are those colors objects? If yes, you have to pay the `key` prop.

[2016-09-03 09:09] shentao commented on #98
Are the options objects or primitives? If objects, you need to pass the `key` prop that is used to compare objects.

[2016-09-03 16:52] Sam-Gram commented on #97
I

[2016-09-06 10:23] Astray-git opened #99 "[Question] How to manually clear select?"
I have `:selected="null"`
Is there anyway other than `ClearOnSelect `, `resetAfter` to clear the selected value?

[2016-09-06 18:54] Sam-Gram commented on #97
Both of the keys are set and match in each case. It is still not being reflected in the dropdown.

[2016-09-06 20:42] adrianolobo commented on #98
It worked, Thanks :D

[2016-09-06 20:42] #98 closed

[2016-09-07 06:59] shentao commented on #97
Hm, I will try to investigate this issue today. With programmatically you mean, that you pick the selections with outside of multiselect?

[2016-09-07 07:02] shentao commented on #99
You should do this manually. For example in the `@update` event handler function.
The current implementation of resetAfter should be changed as it still uses the old `this.$set('selected')`, which leads to two-way binding. Thanks for pointing me to this direction!

[2016-09-07 10:07] Astray-git commented on #99
Sorry, may be my description above is not clear.
Say I have a `<multiple-select>` with selections [[1 x][2 x]   ].
As now we don't have two-way binding, how to clear selections from outside of the `<multiple-select>`.?

[2016-09-07 10:14] shentao commented on #99
Just change the `:selected` prop value. For example, do `this.selected.splice(0, 1)` to remove the first selected option. The multiselect should update automatically.

[2016-09-07 10:43] Astray-git commented on #99
Thanks. I should modify the `this.selected` bind to `:selected` prop in `@update` handler.😄

[2016-09-07 10:43] #99 closed

[2016-09-07 19:02] Sam-Gram commented on #97
That is correct. I got around this issue by using a partial with a checkbox and setting a selected flag on all of my data. Every time the data changes I parse through and reset the selected flag on the data so that the checkbox will be selected. It is a terrible solution but it works for now

[2016-09-08 09:16] shentao commented on #97
That really feels like a dirty hack. Sorry I couldn’t find time yesterday to investigate this issue. I hope to do it this week though.

[2016-09-08 10:33] niklissad opened #100 "A bug with blur when scrolling"
**Steps to reproduce:**
1. Start typing in search field
2. Click to scrollbar for scroll

**Expected result:**
Scroll search results

**Actual result:**
Empty search field

[2016-09-08 10:50] shentao commented on #100
Will investigate it. Thanks!
Congrats on the #100 issue/pr created! :)

[2016-09-08 15:50] niklissad commented on #100
Thanks )
My solution is to check relatedTarget of event that call deactivate
Smth like
[code]

[2016-09-09 10:25] JeOam opened #101 "Cannot display `0` after select `0` with options: [0, 1, 2]"
now, I have to translate options from a list of number to a list of string, such as: ['0', '1', '2'].

Is it a bug or I missed something?

version: vue-multiselect@1.0.1

[2016-09-09 10:34] shentao commented on #101
Hmm, there actually seems to be a bug when you select number 0 in a single-select.
Thanks for catching this! I should fix this soon.

[2016-09-09 13:55] JeOam commented on #101
@shentao thanks 👍

[2016-09-10 00:45] paulstraw opened #102 "Select on tab?"
Thanks so much for the super well-done library. I did a bit of digging on this, but wasn't able to find anything. I'd like to make it so when a user tabs away from the field, the option they have highlighted is selected.

Have I just missed an option somewhere? If not, would you like me to put together a PR for this functionality?

[2016-09-11 15:17] z1haze opened #103 "unable to prepopulate selection"
Hey! so far I am really enjoying this plugin so thank you! - I have a small issue though but it seems to be consistent with every select plugin ive tried so far.. I am storing a user id as the value in a dropdown, and displaying the username as the label, so when i attempt to edit something that shows the user dropdown, it will put 210 or some user id number in the selected field rather than the u

[2016-09-11 18:49] z1haze opened #104 "Please add a way to support validation"
please include a way to make the fields mandatory, or even better a way to integrate into parsley js or jquery.validator. Thanks!

[2016-09-11 18:50] z1haze commented on #103
I figured this out by just pulling 2 arrays from my database and setting the selected ones .. it isnt perfect because it still allows the user to reselect the selected ones from the start. if there is a better way please share.

[2016-09-11 19:43] z1haze commented on #104
if anyone is curious for possible quick solution i came up with this to place inside of the update method when a selection is changed. I did this and then i added a new prop to the Multiselect.vue file to add required to the input inside multiselect.

``
$('.multiselect__input.parsley-error').each(function () {
                    var input = $(this);
                    if(input.closest('.multise

[2016-09-11 21:38] shentao commented on #102
Hey! :) Thanks! Added the functionality just now. I will release the version somewhere around Wednesday, as I want to finally work on the other issues.

[2016-09-11 21:39] paulstraw commented on #102
Oh wow! Awesome, thanks so much for the quick response + addition.

[2016-09-11 22:00] shentao commented on #104
Validation is actually quite out of the scope of the multiselect itself. I believe that in the end, the validation should be more focused on the data itself, rather than components used to manipulate the data.
Right now Multiselect doesn’t support two-way binding anyway, as you always have to update your selected value it is super easy to create some kinds of validation around it.

Looking at your

[2016-09-11 22:06] shentao commented on #103
There really shouldn’t be any problem with this, unless you’re doing something wrong. How does your `updateSelected` method look like?
Please make sure you follow the docs! http://monterail.github.io/vue-multiselect/#select-object :)

[2016-09-11 22:17] shentao commented on #97
Could you provide a jsfiddle or something with the same data and options? I’ve been trying to reproduce this, but well, everything works.
The workaround feels really bad. What about just changing the array to an array of strings? Maybe that would be enough?

[2016-09-11 22:22] shentao commented on #100
Got it fixed! Thanks :)
The updated release should be available ~Wednesday, as I want to fix some other issues before.

[2016-09-11 22:22] #100 closed

[2016-09-11 22:24] shentao commented on #101
I think I got it fixed. The updated release should be available ~Wednesday.

[2016-09-11 22:24] #101 closed

[2016-09-11 22:33] shentao commented on #95
Hmm, what about just using multiselect’s styles? They are not scoped actually, so you can use them to keep it consistent.

Consider this example in jade/pug
[code]

Would that be enough? :)

[2016-09-11 22:36] shentao commented on #93
Damn. I honestly hate to fix bugs for IE. However, this sounds quite serious. I’m just not sure if this is just multiselects fault or maybe there is a problem in updating inputs in general. Will try to fix this in the upcoming week finally.

[2016-09-11 22:36] shentao commented on #94
Ping @rstuart85 :)

[2016-09-11 22:43] shentao commented on #91
I will add a short notice in the docs that importing it as `MultiSelect` might solve some problems with fragment instance.

Closing it for now.

[2016-09-11 22:43] #91 closed

[2016-09-11 22:49] #88 closed

[2016-09-11 22:49] shentao commented on #88
Fixed. Should be available on Wednesday.

[2016-09-12 07:51] #64 closed

[2016-09-12 07:52] #75 closed

[2016-09-12 09:30] JeOam commented on #101
@shentao Hey shentao, May I ask about [the `v-modal` feature again](https://github.com/monterail/vue-multiselect/issues/63#issuecomment-242901258)?

Or is there something I can help? I can try to submit a  PR for that. :)

[2016-09-12 10:05] shentao commented on #101
This is something that requires some breaking changes, but I guess I will have it this week :)

[2016-09-12 10:35] JeOam commented on #101
@shentao Thank you so much :)

[2016-09-13 12:53] lionel-bijaoui commented on #88
Thank you !

[2016-09-13 17:22] Sam-Gram commented on #97
I did change the data to an array of strings, and it still didn't work but fixed something with removing tags. I will try to get around to a jsfiddle soon.

[2016-09-13 19:44] PrimozRome opened #105 "Uncaught TypeError: Cannot read property 'includes' of undefined"
I am trying to solve this error I keep getting with vue-multiselect 2.0:

vue-multiselect.min.js?6cfa:1 Uncaught TypeError: Cannot read property 'includes' of undefined

I have no idea what that means.

[code]

[code]

What am I missing here?

[2016-09-14 01:54] rstuart85 commented on #94
@shentao Will get back to you on this shortly.

[2016-09-14 07:23] lidashuang opened #106 "Parse Error: <multiselect :options="allGroups""
webpack 1.13.2
vue-multiselect 1.1.2

code

        <div class="columns">
          <div class="column is-4">
            <multiselect
              :options="allGroups",
              :close-on-select="true",
              :custom-label="styleLabel",
              @update="updateGroupSelected",
              placeholder="活动组",
              label="name",
              key="name",
            </mu

[2016-09-14 08:13] shentao commented on #105
You’re not passing anything to the `:selected=""` prop. Either remove it completely or pass there the selected value (which would probably be an empty object). That might be it.
Otherwise, it might be a problem with babel (Includes is an Array method). What browser are you using?

[2016-09-14 08:15] shentao commented on #106
Hey there!
If you’re not using jade/pug template engine for your templates, you don’t need to use the commas `,` to separate attributes.

[code]
Should be working.

[2016-09-14 08:16] #103 closed

[2016-09-14 08:25] PrimozRome commented on #105
I did try removing it but I still get the same error?

I am using Google Chrome with `vue-dev` tools and with `vue-cli - webpack template`

[2016-09-14 08:26] lidashuang commented on #106
Thanks for answer
I remove commas form [code](https://github.com/lidashuang/cc_activity/blob/master/app/src/components/FirstPay.vue#L63-L83), but not work, and [webpack config](https://github.com/lidashuang/cc_activity/blob/master/webpack.config.js)

[code]

[2016-09-14 08:28] PrimozRome commented on #105
I only get it when options is array of objects... If I add for options simple text values and remove `:label` prop then it works.

[2016-09-14 08:30] shentao commented on #106
You’re still missing the closing `>`.
[code]
Missed it myself in the code above. Should be fine now.

[2016-09-14 08:30] #106 closed

[2016-09-14 08:32] lidashuang commented on #106
![image](https://cloud.githubusercontent.com/assets/612381/18505184/b6b6a272-7a98-11e6-98a0-c24bcdb731c5.png)

remove ` </multiselect`, now work, thanks

[2016-09-14 08:33] shentao commented on #105
Now I see! You have to pass the `track-by="name"` props. Due to the changes in Vue 2.0, the `key` props has been renamed to `track-by`. It is used to identify objects inside the array. This also means that the names should be unique.

[2016-09-14 08:33] #105 closed

[2016-09-14 08:35] shentao commented on #106
Happy to hear that :)

[2016-09-14 08:36] PrimozRome commented on #105
Unfortunately still not working, same error ...

My options:
`options: [{name: 'Test 1'}, {name: 'Test 2'}]`

My component settings:
[code]

[2016-09-14 08:39] shentao commented on #105
If you use the `:` before the prop-name, it is looking for a property in the component. In this case you want to just pass the `name` string. Thus you should do `track-by="name"` instead of `:track-by="name"`.

[code]

[2016-09-14 08:39] PrimozRome commented on #105
Doooh I see my problem.... I have added `track-by` and `label` props as `:label="name" and `:track-by="name"`.

Thanks for your help

[2016-09-14 08:39] shentao commented on #105
Exactly! Glad I could help!

[2016-09-14 08:42] PrimozRome commented on #105
Do the track-by and label show to the same property inside option object? Because I migh have two times the same name and you said `track-by` needs to be unique. Can I add like `label="name"` and `track-by="id"`?

[2016-09-14 08:52] PrimozRome commented on #105
Maybe it is a problem because I first add empty options array `[]`and then update options asynchronously when they are feched from api...

[code]

[code]

[code]

[2016-09-14 09:56] PrimozRome commented on #105
Ok this is so strange... Check this out.

This is working (in my custom component)

[code]

This is working (in my custom component)

[code]

[code]

This is not working, in my custom component
[code]

[code]

In the above my `options` prop in my custom component gets passed the same value `[{id: '1', name: 'Test 1'}, {id: '2', name: 'Test 2'}]` also seen from this screenshot:

![screen shot 2016-

[2016-09-14 14:31] PrimozRome commented on #105
Made some more of the testing. If the `options` which came trough prop is a normal array with strings then it works as well... When it's object, demonstrated above not working. Maybe I am doing something stupidly wrong but I don't think so.

[2016-09-14 15:03] nicolas-t opened #109 "Disable keyboard interactions"
Hi !

I'm annoyed with the behaviour : `@keydown.delete="removeLastElement()"`

Is there an easy way to disable it?

best regards, :peach:

[2016-09-14 16:31] nicolas-t commented on #109
One cool way of doing so would be to allow the user to pass a custom `onKeydownDelete` function to the component.

If no custom `onKeydownDelete` function is provided then we fallback on the actual `removeLastElement` function.

That way we could easily overwrite the default behaviour.

(of course `onKeydownDelete` is just an example, we can think of a custom event handler for every keyboard inter

[2016-09-14 17:55] shentao commented on #105
Haha :D If those are the cons of coding on the beach, then I think _this is a price I would gladly pay_!
Anyway, I’m happy the problem is gone. Take care!

[2016-09-14 19:58] PrimozRome opened #110 "Searching and value selection"
I have two questions for integration into my app.
### 1. Searching

How can I make search case-insesitive? I have mostly custom label option setup which sets my label like

[code]

In this case I can add multiple keys from options object to display as a label. Works perectly, but search only works on the key I pass trough `label` prop and it's case-sensitive...
### 2. Value selection

When I selec

[2016-09-14 21:42] #93 closed

[2016-09-14 21:42] #94 closed

[2016-09-14 22:00] shentao commented on #109
Hey @nicolas-t!
What’s wrong with the current behavior?

We could do that, but this would additionally extend the already complex API.

Callback are generally executed within the parent’s `this` scope, thus it makes it not possible to actually run the `this.removeLastElement()` or any other private function (in cases where you would want to extend the default behavior).
Even if I would use `.call(

[2016-09-14 22:01] shentao commented on #110
This is I guess a problem in the 2.0 beta release. I will work on it after I finish the next 1.2 release.

[2016-09-15 04:06] oknoorap opened #111 "Options Group"
Is vue-multiselect support options group? I dont' find any example of options group

[2016-09-15 05:54] PrimozRome commented on #110
Ok thanks, good to know. Great work so far 👍

[2016-09-15 07:37] shentao commented on #111
Sadly option groups are not supported right now. Support for it is planned, but I can’t give you a timeline.

[2016-09-15 09:38] jorgenb opened #112 "Multiple select - get selected options"
What would be the best way to extract the selected options for use in a traditional HTML form post with processing backend?

I am passing in my options as an array of objects.

I've set up my Multiselect component like this:

[code]

and I call it in my HTML like this:

[code]

[2016-09-15 14:14] shentao commented on #112
Honestly? I have no idea. It’s been already a long time since I had to do with the classic `<form action="doStuff">` way of handling the data.
Is there no way to use ajax calls instead of form submit?
If not, then I would probably add a hidden `<select multiple>` element and try to move the selected data there and then submit it. But this feels like a hack. :/

Please let me know if you find a wor

[2016-09-16 01:01] StevenBock opened #113 "Unable to use debounce filter"
Hello,

I'm making an AJAX request to a search end point and am finding that I cannot use the debounce filter on the `@search-change` event.  Whenever I try and add the `asyncFind | debounce 500` filter, the asyncFind event is never fired.  Is there a way to debounce search changes? I'm sending a separate AJAX request for each letter, which isn't exactly the most efficient.

Thanks for your help a

[2016-09-16 09:29] shentao commented on #113
Hey there! This is a problem I recently discovered myself. Sadly, for some reason, Vue is not able to debounce custom events (coming from `this.$emit()`). You can however go around it using `Vue.util.debounce`.

This would look like this then:
[code]

[code]

Hope that helps! :)

[2016-09-16 09:30] #113 closed

[2016-09-16 14:06] fernsheldon commented on #63
Hi @shentao !

I am getting the following syntax error while trying to use vue-multiselect@2.0.0-beta.3 with with VueJS 2.0.X. I used the vue-cli's [browserify-simple](https://github.com/vuejs-templates/browserify-simple) template to create the project.

`SyntaxError: /Users/...../node_modules/vue-multiselect/lib/vue-multiselect.min.js: 'with' in strict mode  (1:28627) while parsing file: /....../

[2016-09-16 14:14] shentao commented on #63
Hey @fernsheldon!
No idea why this happens.
Can you try importing `import { Multiselect } from 'vue-multiselect'`?
That would make me know if there is a problem in the bundle or in the source files.

[2016-09-16 14:19] fernsheldon commented on #63
So this is what my script block looks like

[code]

But the error still persists...

[2016-09-17 09:45] nicolas-t commented on #109
Maybe we can find something easier.

My usecase:
I want to hide the `multiselect__tag elements`.
And manually loop over (and display) the `selected` array outside of the vue-multiselect component

I can hide them with css, but the keyboard event `@keydown.delete` is still updating the `selected` array.
So if we can't disable the keyboard event...
**maybe we can add an option to disable the tag dis

[2016-09-18 15:28] shentao commented on #102
Finally published and available in v1.1.3!

[2016-09-18 15:28] shentao commented on #101
Finally published and available in v1.1.3!

[2016-09-18 15:29] shentao commented on #100
Finally published and available in v1.1.3!

[2016-09-18 15:29] shentao commented on #88
Finally published and available in v1.1.3!

[2016-09-18 15:31] shentao commented on #94
You can now pass the `options-limit` prop, which expects a `Number` and is, by default set to `1000`.
Published and available in v1.1.3! Should be in the docs in a moment.

[2016-09-18 15:32] shentao commented on #93
Finally published and available in v1.1.3!

[2016-09-18 15:32] shentao commented on #93
@restored18 @FrizzaUK
Finally published and available in v1.1.3! :)

[2016-09-19 02:27] JeOam commented on #101
@shentao Cool~! 👍

[2016-09-19 07:16] jorgenb commented on #112
Thanks. I don't think a `<select>` can be hidden, but I solved it using an hidden input and moving the data there.

[2016-09-19 07:16] #112 closed

[2016-09-19 07:25] shentao commented on #112
Glad to hear that!
Yeah, that might be true – didn’t had the opportunity to try it.

[2016-09-19 08:09] alexjoverm opened #114 "Label property with more than 1 level deep"
_This is a feature request_

I'd like to be able to set a `label` property with more than 1 level deep. See this example:

[code]

Tried this and is not working, seems like vue-multiselect just takes a first-level deep property.

[2016-09-19 08:12] shentao commented on #114
Hey! :)
You can use the `:custom-label` prop. It accepts a function, that is called with the option property and should return a string.
See docs for details: http://monterail.github.io/vue-multiselect/#select-search

[2016-09-19 09:04] alexjoverm commented on #114
Thanks a lot @shentao, blazing fast answer! I missed that part in the docs, works as expected ;)

[2016-09-19 09:05] shentao commented on #114
I guess this is another part of the docs that should be improved!

[2016-09-19 19:12] paulstraw commented on #102
Just trie this, but there doesn't seem to be a way to disable this behavior (e.g. for multiselects)? It also selects when using shift-tab, which probably shouldn't be the case.

[2016-09-19 19:18] shentao commented on #102
Good catch! Solving the problem of shift+tab should be easy. Disabling or altering the behavior for key events would be a bit problematic though.

[2016-09-22 07:48] PrimozRome commented on #110
@shentao I know you are probably very busy and everything but I was wondering if you have any idea when this update will be part of 2.0?

[2016-09-22 08:05] shentao commented on #110
I will try to release the case-insensitive version today.

[2016-09-22 08:07] PrimozRome commented on #110
I need to pay you for a beer 👍

[2016-09-22 16:04] bozhkos opened #115 ""Select All" option"
Is any way to add 'Select all' option in component? I can`t find any solution.

[2016-09-23 08:55] shentao commented on #115
You have to do it manually. That should be relatively easy. Just push all the available options to the selected array.
If you want to have this option inside vue-multiselect, you can use the `beforeList` slot to put your custom option in there, that will trigger this behavior.

Hope that helps! :)

[2016-09-23 13:38] bozhkos commented on #115
okay, i will try it.

thanks a lot :)

[2016-09-23 13:38] #115 closed

[2016-09-25 03:44] onlyoneice opened #116 "use vue-multiselect in the browser"
i user this component `<script></script>`
 codes like this
**head**
[code]
**html**
[code]
**js**
[code]
but it does not work ,i can not see any thing,what's problem?help me......

[2016-09-25 16:04] san4io commented on #63
Same for me.
[code]

[2016-09-26 15:57] mattjneuber commented on #63
`with` is not compatible with strict mode.
See here: https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Statements/with

[2016-09-27 13:53] flip-santos commented on #42
Hey guys, I'm trying to use this awesome component with plain ES6 and raw HTML, but i'm having trouble with this documentation. It's seems that I can only send data to populate the component with array, and when I send a collection to the ":options" the component won't render the content.

Also, how do I sync a model to this component, It's not clear in this documentation.

I'm willing to do this

[2016-09-27 13:59] shentao commented on #42
@flip-santos The `options` prop has to be an Array. Maps and Objects are not yet supported.
By design two-way binding (aka syncing) is not supported. You pass the `selected` value and then listen to the `@update` events and change the `selected` value accordingly.

http://monterail.github.io/vue-multiselect/#select-primitive This is a basic example of how to update the model.

[2016-09-27 14:49] shentao commented on #63
Well, as I don’t use `with` inside vue-multiselect it must be the result of Babel transpilation.
If you can, please try adding 'use strict' after importing vue-multiselect – that might help.

I will look into the transpilation process and see if I can make it output code work fine inside strict mode.

[2016-09-27 17:52] san4io commented on #63
I'f you are intereseted, sending my package.json.
[code]

[2016-09-28 06:42] davidyao commented on #73
+1 LOL

[2016-09-28 07:28] shentao commented on #73
Already working on this feature.
Temporary closing this issue to avoid unnecessary spam.
Reactions are welcome. :)

[2016-09-28 07:28] #73 closed

[2016-09-28 10:08] nacr-dev opened #117 "[Vue warn]"
Hello,

I'm getting this warning after I updated to vue@1.0.28

Can You check?

[2016-09-28 19:06] mikelbring commented on #63
Same issue as well.. I tried this
`import {Multiselect} from 'vue-multiselect';
	"use strict";`

[2016-09-30 02:54] Astray-git opened #119 "customLabel for Array options?"
For now the `customLabel` attribute only works on Object options. Why not allow this on Array options?

[2016-09-30 08:45] shentao commented on #119
Made it like this, because if you have an array of primitive values they are probably already descriptive enough and there is nothing inside the options that could be used to create a custom label.
I will look into it, as someone might want to change the label based on the outside of vue-multiselect. Is this your case?

[2016-09-30 08:49] shentao commented on #116
Change this line:
`Vue.component('tag', VueMultiselect);`

to:
`Vue.component('tag', VueMultiselect.Multiselect);`

Then it should work.
See fiddle: https://jsfiddle.net/mb0snhtq/

[2016-09-30 08:49] #116 closed

[2016-09-30 10:07] PatoSoft opened #120 "Attributes "options", "selected" are ignored on component <multiselect> because the component is a fragment instance:"
Im using vue-multiselect in a Rails project via Rails Asset. I would greatly appreciate your help.

Mi js file:
[code]

My template(slim/erb):

[code]

[2016-09-30 10:54] PatoSoft commented on #120
'multiselect': VueMultiselect.Multiselect seems to work!!

[2016-09-30 10:54] #120 closed

[2016-09-30 10:56] Astray-git commented on #119
[code]

then I don't need to `find` the preselect object from array, and I can submit the value directly

[2016-09-30 11:40] CinKon commented on #63
Seems to happen only with browserify. Colleage uses webpack, there it works.

[2016-09-30 11:45] san4io commented on #63
strange, By default elixir uses webpack, so for me it fails with webpack.

[2016-09-30 13:04] shentao commented on #119
I will work on Multiselect this Sunday so I will look into it. There might be a way to use the customLabel logic for all labels.

Adding to TODO. :)

[2016-09-30 15:46] shentao commented on #42
@sigalZ please refer to the docs. The `.sync` modifier is deprecated. You have to use the `@update` event to handle the updating of the selected prop
.

[2016-10-01 00:32] onlyoneice commented on #116
thank you very much! it work now.

[2016-10-01 05:34] SigalZ commented on #42
@shentao thank you, but I didn't ask about the selected prop, I asked about how do I populate the options. I read the docs I could not get it.

[2016-10-01 06:08] SigalZ commented on #42
If anybody is interested, I got an answer here: [http://stackoverflow.com/questions/39792864/vue-multiselect-with-laravel-5-3](Stackoverflow)

[2016-10-01 07:10] shentao commented on #42
Ouch, sorry! Replied from a bus and didn't really read deep into the question after I saw an error in the code. Glad it already works!

[2016-10-02 13:59] mstralka commented on #63
I was able to get it work with webpack and [laravel-elixir-vue-2](https://github.com/vuejs/laravel-elixir-vue-2) by doing this:
[code]

[2016-10-04 06:43] CinKon commented on #63
Unfortunately, with this way, i get this error when compiling:

[code]

[2016-10-04 07:30] #117 closed

[2016-10-04 07:39] shentao commented on #119
Fixed in both 1.x and 2.0 beta.

[2016-10-04 07:39] #119 closed

[2016-10-04 07:45] shentao commented on #110
The search is now case insensitive in the newest beta release. You can now also apply customLabels to non-objects options. Still, the search is based on the label/option value for primitives.

I will let you know when I move forward with searching using the custom labels.

[2016-10-04 12:12] nacr-dev opened #121 "[object Object]"
Hello,

I'm getting the text [object Object] in all options since I updated to vue-multiselect@1.1.4

What did I do wrong?

[2016-10-04 12:54] shentao commented on #121
Aghr. Sorry. I accidentally published an invalid bundle (2.0-beta went to latest instead of --next tag). Fixed it in a hurry, but I didn’t had enough time to double check everything.
Will fix this today!

[2016-10-04 12:57] nacr-dev commented on #121
ok, I will wait for it 👍

[2016-10-04 18:46] shentao commented on #121
Hey @nacr-dev  I found where is the problem is. Actually, that’s not a bug! 😂
The method responsible for getting the label has changed to a simpler one that actually makes it possible to create custom labels for non-object options (see #119).
However, this also removed the fallback to `.label` key for getting the object label if the `label` prop is not present.

I will restore the label fallback s

[2016-10-04 18:46] #121 closed

[2016-10-04 21:36] SirLamer opened #122 "npm release is 1.1.4 but latest edition on Git is 1.1.3"
Per the subject...

Having read the issues page, I suspect that 1.1.4 on NPM is a beta build not meant for Vue 1.0 users.

[2016-10-04 21:43] shentao commented on #122
No worries, that was fixed shortly after the accidental publish.
Sorry, I just forgot to create a GitHub release for v1.1.4. Thanks for reminding me!

Will do it in a moment, after I finish an update to the 2.0 beta (v-model support).

Cheers!

[2016-10-04 21:43] #122 closed

[2016-10-04 21:50] shentao commented on #63
@CinKon This shouldn’t happen anymore. Had to remove FlowType though. :(

@JeOam I know this is late but... vue-multiselect now supports `v-model`!
Sadly, this comes with some breaking changes (thankfully we are still in beta).

## v2.0.0-beta.6
### New:
* Support for v-model based on [Form-Input-Components-using-Custom-Events](http://vuejs.org/guide/components.html#Form-Input-Components-using-Cus

[2016-10-04 22:02] shentao commented on #122
@SirLamer https://github.com/monterail/vue-multiselect/releases/tag/v1.1.4

[2016-10-05 03:18] JeOam commented on #63
@shentao Thank you so much for the great `v-model` feature,  now  I can't wait to refactor my code :)

[2016-10-05 05:07] SirLamer commented on #110
This is great and I'm not complaining about anything... but while you are on this subject, you might consider the same for special accented characters evaluating as the same as normal English characters. This comes up for things like search fields for French names and some city names. There is probably a PHP library function which handles this easily.

I haven't researched it much, it just comes t

[2016-10-05 07:30] shentao commented on #63
It is dedicated for Vue 2.0. As far as I know, v-model doesn’t work with custom components in Vue 1.0.

[2016-10-05 07:31] shentao commented on #110
@SirLamer No problem at all 😄
There is already a PR for this #84. Take a look and let me know if this would solve the problems or if there is something missing.
I will try to find some time to today finally to merge it and write tests for it.

[2016-10-05 13:43] JobLeonard opened #123 "Question: can vue-multiselect handle large (2000+ entries) lists?"
Hey! Just a quick question.

Context: I'm working on an SPA using React at the moment, but Vue 2.0 looks very appealing and I'm thinking of switching while the app is still small enough. However, there is one input component that is critical for our application; you guessed it: multi-select.

Our users need to be able to quickly select multiple out of literally thousands of options. So type-to-fin

[2016-10-05 15:23] shentao commented on #123
Hey @JobLeonard!

Vue 2.0 is really awesome! I too, would like to migrate the current app that I’m working on. Sadly it’s already quite large, so it’s hard to find the time for it.

Anyway, I’m not a big fan of the way **react-virtualized-select** handles those amounts of options. Sure, virtualization is cool, but it will probably only impress other developers. Even if it can handle thousands of o

[2016-10-05 15:32] JobLeonard commented on #123
Alright, sounds like it should at least be worth a try! Thanks for the swift resosponse!

[2016-10-05 15:35] shentao commented on #123
Let me know how it works for you and good luck! :)

The optionsLimit functionality should be on the 2.0 branch later today.

[2016-10-05 15:35] #123 closed

[2016-10-05 18:44] shentao commented on #123
Published [2.0-beta.9](https://github.com/monterail/vue-multiselect/releases/tag/v2.0.0-beta.9) which includes the `options-limit` prop. The component is ready for you to test :)

[2016-10-06 09:21] JobLeonard commented on #123
Well, migration will take a while before I can actually get around to testing this, but I'll let you know if it works out :)

[2016-10-07 01:42] ThomasRalee opened #124 "Webpack Syntax Error"
Hi,

I am facing problem using multiselect beta version with webpack.
More information:

[code]

Is there a work around for this? Please advice.

[2016-10-07 06:20] SirLamer commented on #124
I have the same problem. I have spent hours investigating this.

I think it's important to note that in my case I am working with Laravel and using Elixir 6. Laravel recently updated the base package to distribute with Vue 2.0. Gulp compile works if I remove all references to Multiselect.

[2016-10-07 07:38] shentao commented on #124
@ThomasRalee @SirLamer This is a weird bug, coming from Babel I guess. Sadly the transpilation of render functions results in `with` statements, which are forbidden in strict mode.
A workaround here would be importing the source file:
[code]

[2016-10-07 14:49] SirLamer commented on #124
I agree, your workaround works for me.

[2016-10-08 15:55] ryanstelmat commented on #124
I have experienced the same issue with Buble. The workaround @shentao  Posted has worked, though I would like to see this issue fixed.

[2016-10-08 16:41] ThomasRalee commented on #124
The work around, works for me too. As mention by @ryanstelmat a fix to this would be great. None the less awesome library, really.

[2016-10-08 18:29] SirLamer commented on #124
Why close this issue? It is not resolved. If the dev says "this is all we can do" then okay.

[2016-10-08 19:10] shentao commented on #124
I will try to find a solution for this, but sadly I can't promise anything, as this might be a problem with Babel itself. It might be, that I am missing something (like a magic Babel config option that would make the output strict mode friendly. Dunno.
I'm glad the workaround works though.

[2016-10-08 20:12] ryanstelmat commented on #124
I wouldn't close this issue as there are numerous other vuejs libraries that do not experience this issue. I appreciate the library though and will continue to use it via the workaround above.

[2016-10-08 20:14] SirLamer commented on #124
Yeah I agree, if it's a huge rework to correct then that's fine however this is the only package I have with this is issue. Importantly, it does not happen with vue-multiselect v1.1.4 + Vue 1.0.x

[2016-10-08 20:23] shentao commented on #124
If you look into the vue-multiselect.min.js file, you will notice that the `with` statement happens next to the render function, which is something that was introduced with Vue 2.0.
There is nothing wrong with the library code itself I think.
I have tried changing the output type (from UMD to other library types) and looked for some additional configuration options that would fix the problem, but

[2016-10-08 21:45] SirLamer commented on #124
okay perhaps ill put it up as an Elixir issue and link here

[2016-10-09 12:19] shentao commented on #124
The weird thing is, even if I add the "use strict" rule at the top of the main.js file (where I start my app) I don't get the error. :/ But I'm using a pure npm/webpack based build system.

[2016-10-10 12:01] CinKon commented on #63
Switched to Gulp Webpack-Stream (instead of Gulp Browserify), now it works :)

[2016-10-11 03:35] SirLamer opened #125 "Searchable multiselect inserts "search" value in form response"
The searchable feature in vue-multiselect relies on an input field with name "search". Because of this, the value in the search field is returned as part of a form submission if used inside a form. Yes there are workarounds and all kinds of things one could do, but for the sake of simplicity it would be good to not have to fuss around this. One example is a form which uses both multiselect and nor

[2016-10-11 07:05] shentao commented on #125
Nice catch. That’s actually easy to solve. I will just need to remove the name attribute of the input. :)
Thanks!

[2016-10-11 07:30] SigalZ opened #126 "Can't select more than one option on multiselect"
Hi,

When I try to select more than one option I get this error:

[Vue warn]: You are setting a non-existent path "selected" on a vm instance.
Consider pre-initializing the property with the "data" option for more reliable reactivity and better performance.

You can see my code here: [http://laravel.io/bin/XyK1Q](http://laravel.io/bin/XyK1Q)

What am I doing wrong?

Thank you

[2016-10-11 07:36] shentao commented on #126
Hey :)

Your prop `:selected="multiValue"` should be changed to `:selected="selected"`. MultiValue does not exist in your component.

Also, your drop-down component lacks the way to sync the data back to the parent component, where it should be handled. I wouldn’t recommend using the reference as a way to do two-way binding.

[2016-10-11 07:36] #126 closed

[2016-10-11 07:59] SigalZ commented on #126
Thank you shentao, can you please explain more about what you mean here: "Also, your drop-down component lacks the way to sync the data back to the parent component, where it should be handled. I wouldn’t recommend using the reference as a way to do two-way binding. " I'm really new to Laravel and Vue and really struggling here. Can you give me an actual code example of what you mean please?

[2016-10-11 08:17] shentao commented on #126
So you have a wrapper `drop-down` component that you feed with the `:options`. It also has a `:selected` prop. However, if you use the dropdown in context of a form. Let’s say you have a form object like this:
[code]
And you passed the `selected` value to the dropdown’s `:selected` prop. Multiselect has the `@update` event that you use to update the property. That’s because Multiselect on it’s own

[2016-10-11 08:28] SigalZ commented on #126
Thank you. I made the changes and now the select is not even populated with the members.
Code: http://laravel.io/bin/Nklbv

Maybe I should just give it up and use plain jQuery instead. Thanks

[2016-10-11 08:42] shentao commented on #126
http://laravel.io/bin/E3we9

[2016-10-11 09:06] SigalZ commented on #126
Thank you very much. But the code you sent me gives this error: ReferenceError: DropDown is not defined
DropDown

[2016-10-11 09:16] shentao commented on #126
You have to import it. But that’s only true if you use browserify/webpack. If not, skip the
[code]
part. You should then have the DropDown registered globally.

[2016-10-11 10:59] SigalZ commented on #126
Thank you, you are very kind to help so much.

[2016-10-11 11:30] shentao commented on #126
No a problem :)

[2016-10-11 12:25] SirLamer commented on #125
Sounds good. Oftentimes I'd do a PR but i wasn't sure what the point of it was.

[2016-10-12 10:25] yuu2lee4 opened #127 "debounce"
wishing add debounce prop to reduce net request

[2016-10-12 10:27] shentao commented on #127
You already have debounce in Vue. Just debounce the function that is handling the search-change event.
As for Vue 2.0 beta – you will need you custom debounce implementation.

[2016-10-13 10:04] yuu2lee4 commented on #127
@shentao   it seems like debounce filter cant work with search-change event

[2016-10-13 10:49] shentao commented on #127
You have to do it a bit different:
[code]
Vue has to be imported.
Then you can just do:
`@search-change="searchChangeHandler"`

Let me know if this helps. :)

[2016-10-13 10:53] yuu2lee4 commented on #127
3ks  i already use lodash  to do this

[2016-10-13 11:05] yuu2lee4 commented on #127
@shentao   how to bind 'this' to current vue instance

[2016-10-13 11:18] shentao commented on #127
You mean, inside the callback? Sorry, forgot that you shouldn't use the arrow function when doing denounce. Then it will be properly bound to this.

[2016-10-13 11:40] yuu2lee4 commented on #127
@shentao   thanks so much

[2016-10-13 11:50] mathiasfn opened #128 "option select on tab"
Is it possible to disable selection when pressing tab? i'd like my users to be able to tab through a form without selecting options from my dropdowns :)

[2016-10-13 15:49] shentao commented on #128
This was a recent addition, from a feature request. Will see how to make it work for both of you. :)

[2016-10-13 15:50] shentao commented on #127
No problem! ;)

[2016-10-13 15:50] #127 closed

[2016-10-14 07:58] mathiasEasyInspect commented on #128
If you could make a setting like :select-on-tab:boolean that would be nice :)

[2016-10-18 04:06] jcc commented on #63
@shentao  The props of `hideSelected` can't work ? If I use `@input` or `v-model`, the prop can't work ~ How can I deal this problem?

[2016-10-18 07:00] shentao commented on #63
@jcc Weird. Please provide some more context. Code would be best.
Will try to investigate it later today.

[2016-10-18 07:08] jcc commented on #63
[code]

This is my code. But the props of hideSelected can't work.

[2016-10-18 07:37] shentao commented on #63
In 2.0-beta version you have to use `track-by="name"` instead of `key="name"`. This is due to API changes in Vue 2.0. This should solve the problem.

[2016-10-18 07:42] jcc commented on #63
@shentao Thank you very much! It work now!

[2016-10-18 09:56] ptitkiller opened #130 "Module build failed: SyntaxError: 'with' in strict mode"
i use **vue-multiselect** v2.0.0-beta.9.
looks like it is no problem to usestrict.

{ [Error: ./~/vue-multiselect/lib/vue-multiselect.min.js
Module build failed: SyntaxError: 'with' in strict mode (1:29119)
![image](https://cloud.githubusercontent.com/assets/9286322/19472728/995ea024-9552-11e6-8051-bbe005537a04.png)

[2016-10-18 09:58] shentao commented on #130
This is a common problem, with no known solution yet.
A workaround this will be using `import Multiselect from 'vue-multiselect/lib/Multiselect.vue'`

[2016-10-18 10:08] ptitkiller commented on #130
thanks @shentao .

[2016-10-18 10:08] #130 closed

[2016-10-18 12:16] talvbansal commented on #124
Any update on this guys?

[2016-10-18 12:17] shentao commented on #124
@talvbansal Not yet. Please use the workaround:
`import Multiselect from 'vue-multiselect/lib/Multiselect.vue'`

[2016-10-18 15:47] mathiasEasyInspect opened #131 "Error when value == null"
So, either im retarded or this is some sort of bug.
But everytime i deselect an option, the dropdown gets the "null" value and i get this error:

Error when evaluating expression "function (){var t=this;return this.key?this.multiple?this.value.map(function(e){return e[t.key]}):this.value[this.key]:this.value}": TypeError: Cannot read property 'name' of null

Any thoughts?

[2016-10-18 19:06] shentao commented on #131
How do you handle the deselecting? How does you `@update` handler looks like?

[2016-10-19 07:44] mathiasEasyInspect commented on #131
child dropdown:
`<log-dropdown
                                        :options="users"
                                        :searchable="true"
                                        @open="selectFormKey('pilot_id')"
                                        @update="addIdToForm"
                                        placeholder="Vælg en"
                                        label="name"

[2016-10-19 08:03] shentao commented on #131
Could you format the code properly? ;)

[2016-10-19 08:12] mathiasEasyInspect commented on #131
i updated my previous comment :)

[2016-10-19 08:42] shentao commented on #131
Which version of Multiselect is it?
This is quite weird. It looks like it tries to get the name of the value when it is null. But this shouldn’t happen inside Multiselect. Does it happen without the addIdToForm function?

[2016-10-19 08:47] mathiasEasyInspect commented on #131
version: v1.1.3

looking like this i still get the error
[code]

[2016-10-19 09:27] shentao commented on #131
How does the data you pass to the `:options` look like?
Could you provide a sample of the users array?

[2016-10-19 09:54] mathiasEasyInspect commented on #131
[code]

[2016-10-19 09:57] shentao commented on #131
Wouldn’t it be better to use the `id` as `key`? Also there is v1.1.4 available.

[2016-10-19 10:03] mathiasEasyInspect commented on #131
Im not entirely sure what key is used for, i simply copied some example.
Do you think that could be it?

[2016-10-19 10:05] mathiasEasyInspect commented on #131
I just tried changing the key to "id" but it doesn't seem to help

[2016-10-19 10:21] shentao commented on #131
Key is used for identifying the options if those are objects. Keys have to be unique.
Are you – by some change – referring to the private value of Multiselect?

[2016-10-19 10:41] mathiasEasyInspect commented on #131
I dont believe i am :/

[2016-10-19 11:02] shentao commented on #131
Try to trace where does the component look for `.name` when it is `null`.

[2016-10-19 14:13] mathiasEasyInspect commented on #131
Im not sure if i catch what you mean.
But im pretty sure it's on @update

[2016-10-20 07:33] kikyous commented on #97
I have this issue too

[2016-10-20 13:02] mathiasEasyInspect opened #132 "force dropdown to close"
I have made a button in my "noResults" slot which fires a method when clicked, in that method i'd like to close the dropdown afterwards, how can this be done? :)

[2016-10-20 14:21] shentao commented on #132
This is a problem of the compilation scope. The slots are compiled using your parent scope, so they don’t have access to the Multiselect instance.
I would try changing the current focus to an element outside of Multiselect (this will force the dropdown to close).

[2016-10-20 14:25] mathiasEasyInspect commented on #132
Alright i'll do that, thanks for the response :)

[2016-10-20 14:26] #132 closed

[2016-10-20 14:26] shentao commented on #132
No problem :)

[2016-10-21 08:54] D2Allaire commented on #63
@shentao So for me right now everything works, except that on searchable single selects the selected option doesn't get displayed. The options show up just fine in the list, but once selected it just keeps showing the placeholder. With non-searchable single-selects or multi-selects there's no issue.
Here's an example code:

[code]
Internally everything works as intended. The ``v-if`` div shows up

[2016-10-21 11:44] stefanheimann opened #133 "How to only get id back when selecting item"
Hy,

having trouble with vue-multiselect. I only want to receive back to id of the selected item, not the whole object. How can I handle this? Also if I pass only an id to the selectbox as selected value, it doesn't select the value with this id, it only sets the label to the passed id.

I tried to prepare a jsfiddle here, but I don't get it working, it's complaining about prop "key" is a boolean

[2016-10-21 13:32] shentao commented on #133
In jsfiddle you’re trying to use the 1.x version of Multiselect with Vue 2.0. That won’t work. Please use the beta version.

In the beta you will also have to change the `key="id"` to `track-by="id"` due to conflicts with Vue.

This happens because you pass a primitive, so it doesn’t look for a label, because there is none. Just the string/number you passed.

You could however do something like th

[2016-10-21 13:36] shentao commented on #63
@D2Allaire I would try removing the `clear-on-select` prop. This is not necessary for single-selects and be the cause of the problem. :)

[2016-10-25 01:29] JasonCubic opened #134 "Using scroll bar in IE11"
In IE11 if you try to use the scrollbar it works if you have no items selected.  If you have an item selected the list collapses down to only the item that is selected.  This behavior does not happen in chrome though.

I created a project so you can see this behavior happening.  I tried to make the project as simple as possible and show the error I'm seeing in my project.
https://github.com/JasonC

[2016-10-25 22:45] nikolaynesov opened #135 "New render function Vue 2"
Hi,

Thank you for such a great package.
Can you please provide any example  for
`Instead of Vue.partial for custom option templates you can use a custom render function.`
Sorry, if I missed something in docs but I really tried to find before asking :)

[2016-10-26 10:29] shentao commented on #135
Thanks for the kind words!

Sadly the docs for 2.0 are still in progress. :(
Here is an example how such render function can look:
https://github.com/monterail/vue-multiselect/blob/2.0/src/Multiselect.vue#L189
This is the default render function that is used, so this is also the props to which you have to pass the new render function.

[2016-10-27 00:20] SirLamer opened #136 "Suggestion: When the form element is near the bottom of the page, the select field should extend up"
Per the subject...

This is just to resolve a usability issue related to this form element being at the bottom of the page. Whenever possible, the form should not render down below the existing bottom of the page, so causing the page length to temporarily extend to accommodate this and requiring the user to scroll down only after selecting the field element to expose the select list.

In cases whe

[2016-10-27 09:05] shentao commented on #136
Been thinking about this and I think I could implement this making the multiselect extend above the field when there is not enough space below the input. This is how select2 works now and it should be pretty straightforward.

Thanks for the suggestion!

Nice to hear that! Let me know when you publish them! Would really like to see it.

[2016-10-28 09:08] shentao commented on #134
Thanks! Will look into it during the weekend. I honestly hate IE bugs. 😢

[2016-10-29 07:48] #133 closed

[2016-10-29 09:07] shentao commented on #131
Closing due to no update.

[2016-10-29 09:07] #131 closed

[2016-10-29 09:16] shentao commented on #128
Will do! :)

[2016-10-29 18:19] LinusBorg commented on #124
Just as a note that might help:

Webpack 2 can parse ES6 modules (`import...`), so Babel does not have to convert them to `require` statements. And by definition of the standard, ES6 modules are executed in strict mode by default.

That might have something to do with it. Does it also happen when you use `require` instead of `import`?

[2016-10-30 11:20] rny commented on #124
i found this problem is gone today( updated to 2.0.0beta10). don't know why.

[2016-10-31 00:18] SirLamer commented on #124
I don't see a beta 10 release available, can you clarify?

[2016-10-31 05:37] RezaHaidari opened #137 "SSR compatibility?"
vue-multiselect doesn't work in server-side rendering, vue-multiselect has compatibility with ssr?

[2016-10-31 07:44] rny commented on #124
@SirLamer  After i did a npm update

[code]

the package.json shows

[code]

[2016-10-31 08:16] shentao commented on #124
Just created the beta 10 release on GitHub. This was just a small update to fix the CSS syntax error, that caused problems for some people.

[2016-10-31 09:26] LinusBorg commented on #124
@shento I was not proposing webpack 2 as a solution. I was asking weither this errror *only* happens with webpack 2 & import because of its automatic strict mode for modules.

[2016-10-31 09:36] shentao commented on #124
No idea. As far as I know, it happens around the render function, that’s why I guess this might be related to how babel transpiles it. But this also might be because of webpack.

[2016-10-31 10:04] LinusBorg commented on #124
Vue uses `with` for its own render functions. It was a design decision.

If that turns out to be a problem with e.g. ES6 modules in webpack 2, we might have to find some solution for this part of the codebase.

But as I'm not sure yet weithet this is is the case, please continue to investigate in your own as well.

[2016-10-31 14:01] gemp commented on #49
You **really** should, it took me hours to find this thread ^_^

Really nice plugin! Thanks.

[2016-11-01 14:05] nikolaynesov commented on #135
@shentao thank you for quick response.
I've got an issue with Multiple select box. I selected 3 options from drop-down. When I'm clicking on the cross on the badge of 2nd it removes the last one, when I click on 1st - it removes the last. So clicking on cross to remove any selected option for Multiple select  always removes the last one no matter on which you clicked.  Expected : to remove those o

[2016-11-01 14:10] shentao commented on #135
Please change `key` to `track-by`. This is due to the internal changes in Vue 2.0.
Additionally you have to change the `:selected` to `:value`. The new version of multiselect Beta also allows for using v-model!
Refer to the top of the Readme for more changes in

I should publish the new docs soon after I finish the grouping feature (almost done!) and some needed refactoring.

[2016-11-01 14:11] shentao commented on #111
Almost done! )

[2016-11-01 14:12] shentao commented on #73
Mostly done, just need to verify if it works in all use cases. Will try to publish it this weekend :)

[2016-11-01 17:48] martinherweg commented on #137
I gave it a shot yesterday, after some trial and error I think the plugin itself is working fine, the problem is that the style-loader for webpack in the bundle relies on the window object and therefore the script throws an error during SSR.

I made a custom bundle without the Style Loader and SSR was working, problem then was just the styling which could be resolved by using an external styleshee

[2016-11-01 19:55] shentao commented on #137
Hey @martinherweg! Thanks for trying it and the suggestion. I will try to resolve this issue after finishing groups.

[2016-11-02 01:14] oknoorap commented on #111
okay great thanks.

[2016-11-02 03:20] bpiviqd commented on #125
Great, I need the hidden input type with "id" as its name not "search" like the current one

[2016-11-02 17:00] adrianthedev commented on #135
Hi,

Great package! Congratulations!
I'm trying to implement, with VueJS2, custom templates for options. I can't seem to make it render the item as html. I'm using it like this:

[code]

Please help. I'm trying to fix this for an hour now.

Thanks a lot!

[2016-11-02 17:34] shentao commented on #135
Hey @adrianthedev!
Change the productList function to:
[code]
to display the whole object (not recommended as it will display as [Object object]). In this case you probably want to use something like `option.somePropToDisplay`.
or
[code]
To just display the generated label.

[2016-11-03 12:24] omgo opened #138 "How to set 'selected'?"
client gets options for multiselect from server when page is loading, but I can't set item, it worked on 0.3.1, but didn't work on 1.1.3, could u help me? sorry for my english)

[2016-11-04 11:39] callumacrae opened #139 "Invalid prop: type check failed for prop "key"."
The basic example in the documentation doesn't work for me: https://github.com/monterail/vue-multiselect#install--basic-usage

[code]

Not sure what else is needed. I'm assuming it's specific to me as there are no other issues about it, but I can't see anything wrong…

[2016-11-04 11:45] callumacrae commented on #139
Completely forgot I'm using Vue 2 on this project. Sorry, I see you're already working on it!

[2016-11-04 11:45] #139 closed

[2016-11-04 11:55] shentao commented on #139
You can already use the beta version. `npm install vue-multiselect@next`.

[2016-11-04 12:10] fvanwijk opened #140 "Browserify config requiring Vueify"
I want to use the component mixins only, but when I import from `vue-multiselect` my Browserify process complains that `vueify` is missing. I'm not using Vueify (and don't want to) because only the mixins are imported, not the `.vue` file.

It seems that the `browserify` config in package.json is overriding my own browserify config. Is it possible to remove it from package.json and move it a anoth

[2016-11-04 12:12] callumacrae commented on #139
Beta version is working great, thank you!

[2016-11-04 12:13] shentao commented on #140
Damn. It was added there to fix some other problems with Browserify. Would you be able to check if removing it, wouldn’t introduce any problems with Browserify (and Vueify) when someone would want to use the `.vue` file?
If yes, I could remove the additional settings from package.json.

[2016-11-04 12:13] shentao commented on #139
Happy to hear that! :)

[2016-11-04 12:21] fvanwijk commented on #140
I'm quite sure that if anyone wants to use the `.vue` source file, they just have to include the `vueify` transform in their build config themselves.
Alternative is to split the js and html part in two files, or inline the HTML by doing:

[code]

I will check this to be sure everything still works by removing the browserify config.

[2016-11-04 13:11] xereda opened #141 "Using with vue-resource"
Hello Friend,

First, congratulations on the component. I'ts very interesting. Elegant!

I have a question: how to use it with external resources, type Restful APIs and "vue-resource"?

Thank you.

[2016-11-04 16:41] shentao commented on #141
Well, there is no need for some dedicated integration for asynchronous libraries like vue-resource etc. Which means by itself vue-multiselect won’t make any requests as this is not it’s responsibility.

However, you can use multiselect with options lists that you just fetched from the API. Or use the search phrase you type into the multiselect as a query added to the ajax request.

Please look at

[2016-11-04 16:41] #141 closed

[2016-11-04 16:43] shentao commented on #140
This would help me a lot.
Thanks!

Let me know what are the results of those checks!

[2016-11-04 16:44] shentao commented on #138
Please provide some more details. How does your code look like? Are you sure you’re following the documentation? There were several breaking changes from 0.3.1 and 1.1.3.

[2016-11-04 16:46] xereda commented on #141
Very good! Tks

[2016-11-04 16:47] xereda commented on #141
Its working with vuejs 2.0, right?

[2016-11-04 18:13] cmmize opened #142 "Issue with Placeholder in vue-multiselect 2.0.0-beta.10"
First off Thank You for all the work you put into this!
I've been unable to get a placeholder to show in vue 2.0 version.  I've put a test project here so you can see.  I've tried both as an attribute and props (example is attr).

https://cmmize@bitbucket.org/cmmize/issue-with-placeholder-in-vue-multiselect-2.0.0-beta.10.git

Thanks for your help.

[2016-11-04 20:16] xereda opened #143 "Componente Height"
What is the simplest way to change the size of the component's height? Must adapt to the default CSS Bulma, but only the height. The rest can stay as it is, which is excellent.

I want to do it in the least invasive way possible. My concern is not without disturbing the natural behavior of the component.

Thanks a lot for the help.

[2016-11-04 20:33] shentao commented on #143
That would be using CSS. You will have to override some css classes and set the correct `:option-height`.

[2016-11-04 20:34] shentao commented on #142
Will look into it tomorrow! :)

[2016-11-04 20:56] xereda commented on #143
What are the classes?
Other question: I have to increase the left margin of the text / value? How would I do this without causing problems in the standard structure?

[2016-11-04 20:57] xereda commented on #143
I need to do this: Congratulations amazing job. You did an excellent component. Very good!

[2016-11-05 01:05] shentao commented on #143
Well, thanks! :)
Take a look at the classes in this file: https://github.com/monterail/vue-multiselect/blob/master/src/Multiselect.vue
You can modify them at will.

[2016-11-05 09:15] SirLamer commented on #142
In your component DropDown, you pass to Multiselect a static string to the "placeholder" attribute. You need to handle "placeholder" as a prop within your DropDown component.

See: https://cmmize@bitbucket.org/cmmize/issue-with-placeholder-in-vue-multiselect-2.0.0-beta.10/src/152537eb0da79b149aef4cd09d18a4f2f07e2623/src/components/DropDown.vue?at=master&fileviewer=file-view-default#DropDown.vue-11

[2016-11-05 09:19] SirLamer opened #144 "Suggestion: Render scroll bar only when needed on first load"
In vue-multiselect beta, when clicking to display a short list the scroll bar will be included but then promptly removed once the transition animation is complete. It should only be drawn when the final deployed list view will require it. This is just a detail observation and doesn't affect usability at all.

[2016-11-05 11:31] shentao commented on #142
Just like @SirLamer said, you have to additionally create and pass the placeholder prop inside Dropdown component.

Thanks Sir! 👍

[2016-11-05 11:31] #142 closed

[2016-11-07 07:09] ryanrca commented on #63
@shentao Thanks for this awesome component!   I'm trying to get it to work on vue2, but I am encountering an issue with vueify and browserify.

Just adding the import line (no other code), I get a vueify error:
[code]
Removing the import line, everything compiles just fine (lots of other vue2.0 code).
I have to use @mstralka's work around, so my import line is this:
[code]

[2016-11-07 08:26] fvanwijk commented on #63
Is there any known workaround for the following error?

This is the HTML markup:

[code]

Changing `:selected` to `:value` doesn't work.

There are also warnings for omitting the non-required properties `label` and `key`:

[2016-11-07 08:50] san4io commented on #63
You are using Vue2.0 so filters doen't work anymore, you should use
[code]

[2016-11-07 11:00] shentao commented on #63
@fvanwijk Just like @san4io said. You don’t have build in filters in Vue 2.0, thus you have to install the beta version.

@ryanrca Hey! Currently this seems to be the only solution. I’m working on removing the explicit browserify configuration that is present in the beta version, so this might also solve this problem.

[2016-11-07 11:00] shentao commented on #144
Will look into it, thanks!

[2016-11-07 11:42] fvanwijk commented on #140
I created a sample repo to demonstrate the problem:
https://github.com/fvanwijk/vue-multiselect-browserify-example

TL;DR remove the `browserify` config from `package.json` and add to readme that developers need to add a global `vueify` transform if they want to import the `.vue` files.

[2016-11-07 12:10] fvanwijk commented on #63
@shentao Thanks, as you see in #140 I got it to work ;)

[2016-11-07 17:03] cmmize commented on #142
Thanks for the quick reply.  I have tried as a prop(mentioned in original question) and it still does not work,  would you like me to post that project or can you confirm it works with example?

[2016-11-07 17:38] xereda commented on #143
@shentao, what it's ":option-height"? Css propertie? I am not find this.

[2016-11-07 17:40] xereda commented on #143
I'm trying to override the classes of your component, but it has no effect.

[2016-11-07 17:48] xereda commented on #143
My need is to increase the "z-index" (the bulma's footer, it's over.), Decrease the height of the field and increase the left margin of the content text.

I tried setting the css classes inside my <style> tag, but apparently there was no effect.

What should be done to work?

Thank you very much.

[2016-11-07 18:46] cmmize opened #145 "Issue with placeholder showing in vue 2.0"
Update to a closed question:
I've been unable to get a placeholder to show in vue 2.0 using vue-multiselect-2.0.0-beta.10 version. I've put an updated test project here so you can see, which is using props (previous question on same subject suggested using props for placeholder instead of attribute).  This still does not work.

https://cmmize@bitbucket.org/cmmize/issue-with-placeholder-in-vue-mult

[2016-11-07 19:16] mstralka commented on #63
I should point out that my [previous workaround](https://github.com/monterail/vue-multiselect/issues/63#issuecomment-250972586) turned out to cause a cryptic error with uglify when running `gulp --production`, which I [raised here](https://github.com/JeffreyWay/laravel-elixir-webpack-official/issues/34#issuecomment-258464870) and [figured out here](https://github.com/JeffreyWay/laravel-elixir-webp

[2016-11-07 20:25] shentao commented on #143
`:option-height` is for handling the arrow navigation. It is used to calculate the viewport offset.

Which class do you override?
Probably you have to look on the classes inside multiselect and override the specific classes.

[2016-11-07 20:26] shentao commented on #145
Thanks! I will try to investigate this soon.

[2016-11-08 18:55] shilka commented on #137
@martinherweg Hi! Is there any way to workaround or patch it until this issue will be resolved?

[2016-11-08 20:11] shentao commented on #137
Sadly not yet. :(

[2016-11-09 00:05] martinherweg commented on #137
@shilka I made a fork and changed webpack to extract the stylesheet instead of injecting it.

Not the best way so i did'nt submit a PR

https://github.com/martinherweg/vue-multiselect/tree/2.0

[2016-11-09 07:54] omgo commented on #138
index.coffee
[code]

index.jade
[code]

[2016-11-09 08:28] shentao commented on #138
Please look into the documentation. `.sync` is deprecated. You have to handle the change manually with `v-on:update="updateHandler"` function.

[2016-11-09 10:41] omgo commented on #138
v-on:update is useful only when selected changes by multiselect, if I'm changing selected in code (e.g.) v-on:update cant help me (or I'm mistaken?) so, I did it by adding timeout in asyncData, now it works. thank you for your help)

[2016-11-09 11:06] shentao commented on #138
If you want to change the selected value outside of multiselect you simply have to change the `model.year` props. Multiselect should update automatically.

[2016-11-09 11:06] #138 closed

[2016-11-09 14:38] vanderlin opened #146 "Partials"
with Vue2.0 not sure how this feature is implemented can someone give an example?

http://monterail.github.io/vue-multiselect/#partials

[2016-11-09 14:45] shentao commented on #146
Check out this:
https://github.com/monterail/vue-multiselect/blob/2.0/src/Multiselect.vue#L189
and this:
https://github.com/monterail/vue-multiselect/blob/2.0/src/MultiselectOption.js

[2016-11-09 14:45] #146 closed

[2016-11-10 20:37] aarobc commented on #128
Not sure if this has been implemented on the main branch, but v2 branch still needs this fix. without the ability to disable it, the user has no way to tab between the selects.

[2016-11-12 19:22] Abdelrahman3D opened #147 "I've to click the gray arrow to open the menu in IOS"
I love this very clean package  and I love that you used BEM conventions but i have a little issue when i used it on mobile.
I've tested the site on IOS Safari and IOS FireFox, and here is what I've got. The only way to open the menu is by clicking the gray arrow and this is not good behavior since users expected to click on the menu itself to open it. by the way it works fine on IOS Chrome, Andro

[2016-11-12 22:41] Abdelrahman3D commented on #147
I've fixed the problem using css to make the arrow take the hole width, It's a kind of hack but it worked fine for me
[code]

[2016-11-13 18:54] shentao commented on #147
I will try to improve this before the 2.0 stable release. Thanks!

[2016-11-18 08:50] HETAOGitHub opened #148 "a problem for multiple"
it is solve.
I have not carefully read the document.
I'am sorry,

[2016-11-18 09:03] #148 closed

[2016-11-18 13:15] jlippold opened #149 "Mixin example?"
You make reference a few times about using a mixin to create your own custom component. Can you post an example of  an entire .vue file using the mixin? I'm really just after an unstyled version of this, so I can restyle. Thanks

[2016-11-19 12:31] shentao commented on #149
I will try to do this. :)

[2016-11-19 14:11] shentao commented on #145
First, please remove the `.sync` suffix. It’s deprecated in Vue 2.0.
Also, you’re passing `value` prop to the dropDown component, but inside, you’re expecting a `selected` prop.

Made a fix for the placeholder in case the select is `multiple` and not `searchable`. Should be released soon. Thanks!

[2016-11-19 14:11] #145 closed

[2016-11-19 14:26] shentao commented on #140
Done. Should be released soon.

[2016-11-19 14:26] #140 closed

[2016-11-19 14:27] shentao commented on #124
This has been fixed in the recent vue-loader update. Will publish a new bundle soon, hopefully without the `with` keyword :)

[2016-11-19 14:27] #124 closed

[2016-11-19 16:07] #135 closed

[2016-11-19 16:13] shentao commented on #80
This should be working by now in the beta version.

[2016-11-19 16:13] #80 closed

[2016-11-19 16:23] shentao commented on #109
What about `:block-keys="['Delete']"`? You could also block the `Enter` and `Tab` key.

[2016-11-20 15:31] yusupprog commented on #139
Great component!Really pleasure to work with

[2016-11-20 22:03] shentao commented on #141
Yes ofc! :)

[2016-11-20 22:09] shentao commented on #139
Thank you @yusupprog :)
I just feel bad about prolonging the release of stable 2.0 version.

[2016-11-21 12:46] mathiasfn opened #150 ":disabled prop doesn't work fully"
When a select is disabled it is still possible to select when tabbing over the multiselect

[2016-11-21 16:50] evanb2 opened #151 "Object.label is not set as default when using Object options"
I'm passing in an Array of Objects to the options prop with keys "name" and "label" and I still have to explicitly say `label="label"`

[2016-11-21 19:54] shentao commented on #151
Sadly there is no default for the `label` prop as it’s existence is used to determine the `getOptionLabel` strategy. Similarly same with the `key` (1.0) / `track-by` (2.0) props.

[2016-11-21 19:54] #151 closed

[2016-11-21 19:56] shentao commented on #150
Good catch, thanks! :)

[2016-11-21 19:58] evanb2 commented on #151
Oh I see, I was confused by this comment:

    /**
       * Array of available options: Objects, Strings or Integers.
       * If array of objects, visible label will default to option.label.
       * If `label` prop is passed, label will equal option['label']
       * @type {Array}
       */

[2016-11-21 20:15] shentao commented on #151
Och crap! Forgot to update the docs and readme with this change. Sorry about that! Big thanks for catching this! :)

[2016-11-22 11:45] MichMich opened #152 "Template or render function not defined."
After e few hours of pulling my hair and furious googling, I can't come up with an other solution then to open this issue.

I tried to include multiselect (2.0 branch) into my vue 2.0 project. Unfortunately, the components doesn't want to work, giving me the following error:

(found in component <Multiselect>)

I know that this has something to do with the standalone built vs realtime only buit. B

[2016-11-22 12:08] shentao commented on #152
Crap. Really sorry to hear that. 😔

Not sure why the default import doesn’t work out of the box when using `require()`. I will look into it later. Thanks for bringing this up.

Anyway, there are several workarounds for this:

Either use es6 modules:
[code]

Or do it this way.
[code]

[2016-11-22 12:08] #152 closed

[2016-11-22 12:22] MichMich commented on #152
This solved the issue:
[code]

Thanks a lot! :)

[2016-11-22 12:23] shentao commented on #152
No problem. Let me know if you encounter any other problems. :)

[2016-11-22 19:13] MichMich commented on #152
Just one simple question: is there a way to limit the input to [a-zA-Z0-9] only? So no alpha numeric characters? (Useful for tagging ...)

[2016-11-22 19:36] shentao commented on #152
I’m afraid it’s not possible.

However, a way to partially do it would require you to transform the diacritics and remove other non alpha-numeric characters inside the `@tag` handler, before you save it as a tag.

[2016-11-22 19:56] MichMich commented on #152
Maybe there is a way to manipulate the current typed value on the SearchChange event?

[2016-11-23 08:06] shentao commented on #152
Sadly, it’s an internal value. You are not able to modify it.

[2016-11-23 08:33] MichMich commented on #152
Would you be interested in a PR that contains a property which accepts a regex? `inputFormat` (or something like that...) ?

[2016-11-23 08:35] shentao commented on #152
Sure :)

[2016-11-23 08:37] MichMich commented on #152
Hm... I see you require tests as well... I have absolutely no experience writing them in javascript ... We'll let's first worry about the implementation ;)

[2016-11-23 09:21] shentao commented on #152
I can do the tests myself.

[2016-11-23 16:31] nikolaynesov commented on #135
@adrianthedev hey,

just in case @shentao example was not clear enough I will give you a real life example how to view friends list with avatars

[code]

Basically you just need to follow the [Data Object Structure](https://vuejs.org/v2/guide/render-function#The-Data-Object-In-Depth). Maybe it will help someone else. Good luck!

[2016-11-23 16:42] shentao commented on #135
Thanks!
However, now that scoped slots are released (Vue v2.1), I think I can change this to a simple scoped slot.

[code]
Or something similar. Will have to try it out soon. :)

[2016-11-24 06:01] SirLamer commented on #149
For what it's worth, the Multiselect.vue itself stands as an example.

[2016-11-25 19:05] SirLamer commented on #29
As an update for those who arrive here in the future, as of Laravel 5.3 (and presumably on, but please verify) it's easier to use Buble instead of Babel because the former ships with Laravel.

[code]

[2016-11-28 11:25] viraj-khatavkar commented on #42
@shentao I can lend you a hand on documentation. Let me know what you are planning and I will try to take it from there :)

[2016-11-28 11:28] shentao commented on #42
That would be nice @viraj-khatavkar :) You can go to the `groups` branch and work on grouping documentation there. :)

[2016-11-28 11:28] viraj-khatavkar commented on #42
Sure, will look at it :)

[2016-11-28 11:44] viraj-khatavkar opened #154 "Vue 2 issue / doubt"
Hey @shentao how do I get reactivity in place for Vue 2 version?

I have a json array of options, something like:

[code]

In my Vue component's props, I have an option which is to be selected:

[code]

I initially select the option as follows:

[code]

But, when I update the `name` key of `selectedBranch` it doesn't get reflected in the UI

[2016-11-28 11:55] shentao commented on #154
You might want to add the `track-by="name"` and `label="name"` props. This might help.

[2016-11-28 11:57] viraj-khatavkar commented on #154
@shentao Already there :(

[2016-11-28 11:58] viraj-khatavkar commented on #154
At first, the desired option is selected properly. But, once I change the data property of `selectedBranch` the reactivity is not achieved in UI

[2016-11-28 12:00] shentao commented on #154
Where does the `this.server.meta.deployment_branch` come from? How do you assign it to name later on?

[2016-11-28 12:03] viraj-khatavkar commented on #154
The `server` prop is already there from the start. The branch gets selected the first time.

If a selected server is updated on a later time, then the branch should also change according to server..

[2016-11-28 12:24] shentao commented on #154
Yeah, but how do you track the changes? Is this a web socket connection?

[2016-11-28 12:48] viraj-khatavkar commented on #154
It is an another dropdown that's it..

[2016-11-28 13:04] shentao commented on #154
It should work without a problem if you’re doing a regular assigning. Could you provide a JSFiddle? Then maybe I could help.

[2016-12-01 13:13] cve opened #155 "How to register it without require or import?"
Hi,

I would like to use this plugin at legacy page where I don't have webpack or require, so how can I register multiselect like:

[code]

[2016-12-01 14:03] shentao commented on #155
Should be available as `window.Multiselect.default` when you add it with just a `<script>` tag.

[2016-12-01 14:37] cve commented on #155
Thanks for fast response :)

I made http://codepen.io/cve/pen/qqpZrv with demonstration this situation and in the console I see

````Multiselect is not defined````

[2016-12-01 14:51] shentao commented on #155
Sorry, my bad! Should be `window.VueMultiselect.default` :)

[2016-12-01 14:53] #155 closed

[2016-12-01 14:54] cve commented on #155
Ok, I've updated code snippet, but now in the console I see:

`
 Invalid prop: type check failed for prop "key". Expected String, got Boolean. (found in component <multiselect>)
`

[2016-12-01 14:55] cve commented on #155
Sorry, I miss #139 Thanks for help :)

[2016-12-02 11:43] callumacrae opened #156 "Accessibility: breaks page when using screenreader"
Hello!

Currently, when using the page with a screenreader, the multiselect component creates a loop that the screenreader can't get out of, breaking any page the component is used on.

The best way to do this would be to hide the multiselect component for screenreaders and use `<select multiple>` instead, but looking at the generated output that doesn't look like it would be that easy.

Have you

[2016-12-02 11:52] callumacrae commented on #156
Oh yeah, the reason it doesn't work: when the screenreader goes to read the first element it causes the select element to be defocused, so it closes.

Following gif is of me repeatedly pressing VO+right in VoiceOver, which should go through the page reading things, not get stuck in a loop:

![](https://cloud.githubusercontent.com/assets/472830/20833097/b50167d4-b885-11e6-8d64-478b304111a8.gif)

Th

[2016-12-03 17:29] Jack85 opened #157 "Sugestion:dragand drop reorder"
Woul be cool to be able to manually reorder selected items,  so that user doesnt have to select them again. keep up with Good work!

[2016-12-05 12:17] callumacrae opened #158 "@next: select breaks if selecting same item"
I'm using Vue 2.0 and vue-multiselect@next.

I'm using vue-multiselect for a language picker:

[code]

It works when fine when changing the language, but if selecting the same language, `currentLocale` is set to `null`. `localeChanged` is still called so I've been to work around it, but it's probably still a bug.

[2016-12-05 12:29] shentao commented on #158
You need to add the `:allow-empty="false"` prop. Otherwise selecting the same option results in deselecting it.

See http://monterail.github.io/vue-multiselect/#select-object for an example.

Let me know if this helps! :)

[2016-12-05 12:29] #158 closed

[2016-12-05 14:25] callumacrae commented on #158
Whoops, that's better :)

[2016-12-06 01:33] KeroVieux opened #159 "How to intergrate with fastclick"
As my test project , the vue-multiselect could not work with the fastclick.js , I was supposed that fastclick.js is useful in the mobile app .
However , I think that's a way to do it , like only the links or buttons work with fastclick.js except for vue-multiselect , perhaps there is a mobile option have been set on vue-multiselect ?

[2016-12-06 02:52] AlphaB commented on #111
Hi! Any estimates when it's gonna be finished? Can't wait to migrate from selectize.js to this component :)

[2016-12-06 05:12] rob1121 opened #160 "problem implementing in vuejs2 and vue-multiselect v2.0 beta.10"
Please help..

## my multiselect.vue file:

[code]

## error is:

[code]

[2016-12-06 05:22] rob1121 commented on #160
## here is how I call it in my html code:

[code]

[2016-12-06 05:30] rob1121 commented on #160
## here is how I call it in my html code:

[code]

[2016-12-06 05:39] rob1121 commented on #160
## here is how I call it in my html code:

[code]

[2016-12-06 06:08] rob1121 commented on #160
## here is how I call it in my html code:

[code]

[2016-12-06 06:12] rob1121 commented on #160
## here is how I call it in my html code:

[code]

[2016-12-06 06:13] rob1121 commented on #160
## also here my erro when compiling using browserify....

[code]

[2016-12-06 09:32] shentao commented on #160
Just do:
[code]

Also, you can’t register `'multi-select'` globally (with `Vue.component('multi-select', require('./components/Multiselect.vue')`) and then register another component as `'multi-select'` locally.

[2016-12-06 09:33] #160 closed

[2016-12-06 09:35] shentao commented on #159
It should work without fastclick.js.
I will look into it.

[2016-12-06 09:36] shentao commented on #157
I think this get out of the scope of the component. Feel free to create a new component that supports drag&drop by extending Multiselect. Should be relatively easy.

[2016-12-06 09:36] #157 closed

[2016-12-06 09:38] shentao commented on #156
That might be hard. Thanks for bringing this up! Accessibility is really important for me so I hope I can find a way to fix this!

[2016-12-06 09:38] shentao commented on #111
Might be today actually! :D

[2016-12-07 01:23] KeroVieux commented on #159
@shentao Thx ! I know it's work so well on PC , but the 300ms delay is horrible on devices so that need the fastclick.js , I was really have no idea for it , even thought I have add the class="needsclick" to the node ...

[2016-12-07 01:29] rob1121 commented on #160
Hello, one more..

I did what you said and  this new errors prompted on my console:

[code]

## demo.html
[code]

## form.js

[code]

[2016-12-07 15:57] smith64fx commented on #63
Hey guys,
First of all: THANK YOU for this AWESOME work!!! I really love what you created. <3

Just one sidenote:
Is it possible to create something like an "V2 Documentation/Hints Section"?

For example I was wondering why "@update" doesn't work. After some time I found a post in this issue here, describing why :D
[code]

Just my 2cents, would be much easier for many people :) (I think a lot of p

[2016-12-07 16:08] shentao commented on #63
I’m thinking about creating a new documentation where one can choose the version.

[2016-12-07 16:17] smith64fx commented on #63
@shentao Is the documentation available on github? So everybody can contribute to!

I think every developer knows this problem: You are focussed on developing but you have no time for the docs :D

[2016-12-08 17:33] smith64fx opened #161 "Two-Way Databinding"
Version 2.0-Beta-10

Hey man, awesome work :) So far I didn't have any problems, just this little one.

When I set the :selected property manually from outside, the tags are not updated properly.. Is there any workaround needed for this?

[2016-12-09 14:14] dannydombrowski commented on #161
Hey!

You should look at the following :

For Vue 2.0 users:

Vue-multiselect 2.0-beta is available: npm install vue-multiselect@next. API changes:

Instead of Vue.partial for custom option templates you can use a custom render function.
The :key props has changed to :track-by, due to conflicts with Vue 2.0.
Added support for v-model
@update has changed to @input to also work with v-model
**:selec

[2016-12-09 19:32] cmmize commented on #145
Hi shentao,

Is there a release I can get with fix for the placeholder in case the select is multiple and not searchable you mentioned above?  Thanks a bunch.

[2016-12-10 11:24] muchacho-diesel opened #162 "How to implement CustomLabel?"
How can I implement the CustomLabel function to create own labels directly at the input field like the example at the homepage (http://monterail.github.io/vue-multiselect/)? Because I can't find any explanation with source code in the documentation.

JsFiddle:
https://jsfiddle.net/1zecg8yc/11/

Used versions:
  - vue.js: 2.1.4
  - vue-multiselect: 2.0.0-beta.10

[2016-12-10 13:32] shentao commented on #161
For 2.0 version you have to use the `:value` prop instead of `:selected`. Additionally, for two-way data binding, you can now use `v-model` just like you would with a simple input :)

[2016-12-10 13:33] #161 closed

[2016-12-10 13:48] shentao commented on #162
Depends what you want to accomplish :)

You can have either custom label or custom option template (like the example with images in the docs).

Custom label:
`:custom-label="customLabel"`

[code]
Custom option template:
https://jsfiddle.net/1zecg8yc/12/

[2016-12-10 13:48] #162 closed

[2016-12-11 03:05] silvestreh opened #163 "[Question] Allow extraneous values"
First off I'd like to thank and congratulate everyone involved in _vue-multiselect_. It's being great to work with so far!

On to my question… Is there a way to set a value that's not in the `options` array? I'm listing health insurance companies, but since there could be companies that I'm not aware of, I need the user to be able to set whatever string they want.

BTW, I'm running `2.0.0-beta.10`

[2016-12-11 10:20] shentao commented on #163
Hey thanks! :)

I guess you could use the *tagging* feature. It can be used with single selects as well.
http://monterail.github.io/vue-multiselect/#tagging

Hope that helps!

[2016-12-11 10:20] #163 closed

[2016-12-12 12:06] owl1n opened #165 "[object Obkect] in options list"
Hello everyone. I'm use vue-mutiselect and get options from ajax request. Answer from server has this body
`{id: 1, name: 'test'}, {id: 2, name: 'hello'}`

and after, i tried `this.options = request.body` and i will see `[object Object]` in options list. What this?
ofcourse i have track-by and label

[2016-12-12 18:41] smith64fx opened #166 "Feature request: Debounce"
Hi there,
For my async search I need a denounce timer, otherwise I make a search on each key input.

Is there any possibility ?

Thanks!

Smith

[2016-12-12 19:26] shentao commented on #166
Depending on which version of Vue are you running.
If Vue 1.x read #127
If Vue 2.x basically the same but you have to provide a debounce function, for example from lodash. Using it should be the same as in #127

You can also look at #113

I hope that helps!

[2016-12-12 19:26] #166 closed

[2016-12-12 21:13] smith64fx commented on #166
@shentao Lightning-fast answer! And very good one. I made it with lodash finally :) Thanks!

[2016-12-12 21:55] shentao commented on #166
Happy to hear that! :)

[2016-12-13 10:48] callumacrae opened #167 "@next: Broken in Vue 2.1.5"
I'm getting this fantastic, highly informative error when using the latest version of vue-multiselect with the latest version of vue:

<img width="1279" alt="screen shot 2016-12-13 at 10 46 13" src="https://cloud.githubusercontent.com/assets/472830/21137444/74972202-c121-11e6-9d07-d25b16c21458.png">

I hope that means more to you than it does to me!

Here's the release notes: https://github.com/vu

[2016-12-14 07:48] XiaoxiaoPu commented on #167
It was caused by a breaking change in `vue@2.1.5`. New dist release is required.

See https://github.com/ElemeFE/element/issues/1706 .

[2016-12-14 09:17] callumacrae commented on #167
@XiaoxiaoPu: Has anyone opened an issue on the Vue tracker?

cc @yyx990803

[2016-12-14 09:21] XiaoxiaoPu commented on #167
@callumacrae It's **NOT** a bug, just need rebuild.

[2016-12-14 09:22] callumacrae commented on #167
Ah right, sorry! Misunderstood.

[2016-12-14 12:05] shentao commented on #167
Will try to do it today. Thanks! :)

[2016-12-14 12:15] amitavroy commented on #154
having the same problem. I have an array of objects for the drop down called tags which is going in options property.

Then I have selected property as selectedTags. But when I pre populate the selectedTags on edit screen, those tags are not automatically visible.

I can see the demo working, but for me on Vue2 it's not.

[2016-12-14 19:55] maddesigns commented on #159
try using `touch-action: manipulation;` in CSS, this will remove the click delay in most browser. http://caniuse.com/#feat=css-touch-action

[2016-12-14 22:30] shentao commented on #159
Yeah, this might be useful @KeroVieux https://developers.google.com/web/updates/2013/12/300ms-tap-delay-gone-away

Adding
[code]
might fix your problem.

[2016-12-14 22:38] #159 closed

[2016-12-14 23:34] #144 closed

[2016-12-14 23:49] #147 closed

[2016-12-14 23:55] #128 closed

[2016-12-15 00:03] #102 closed

[2016-12-15 00:04] shentao commented on #97
Closing due to no activity.

[2016-12-15 00:04] #97 closed

[2016-12-15 00:37] #150 closed

[2016-12-15 00:38] shentao commented on #150
Available in beta-11

[2016-12-15 00:38] shentao commented on #111
A bit late but its finally done and available in beta-11. :)

[2016-12-15 00:38] #111 closed

[2016-12-15 00:49] shentao commented on #102
Sorry it’s so late.
Done in beta.11.

[2016-12-15 17:27] callumacrae commented on #167
@shentao: When will you be able to do this? My app is broken on production, and Vue won't let me roll it back.

[2016-12-15 17:28] yyx990803 commented on #167
@callumacrae FYI you can clone this project, bump the deps and build it yourself if it's urgent.

[2016-12-15 17:37] callumacrae commented on #167
I think I worked out what was happened: I had locked Vue to 2.1.4, and an update for this library was pushed earlier (I think). The new version relies on 2.1.5, and breaks when ran using 2.1.4. I didn't notice it had been updated.

Basically: beta 10 doesn't work with Vue 2.1.5, but beta 11 doesn't work with Vue 2.1.4, so locking only Vue caused my website to break again.

Sorry for confusion!

[2016-12-15 17:49] shentao commented on #167
Ouch, wasn’t aware that there might be such complications!
The beta.11 was rebuilt with the newest 2.1.6 version of Vue and vue-loader.
It also introduced option groups! :)

[2016-12-15 17:49] #167 closed

[2016-12-15 22:03] grafa commented on #63
Hi folks,

can please anyone provide working jsfiddle on vue 2?

It would help a lot.

[2016-12-16 07:21] KeroVieux commented on #159
Hey , everyone who had came in here , It was exact my bad , when you set up the meta as
`<meta name="viewport" content="width=device-width">`
All the delay of clicked would be dismiss .

[2016-12-16 08:34] shentao commented on #63
@grafa Here it is :)
https://jsfiddle.net/mjgfywo8/

The next step now that groups are here is to release the 2.0 stable version and docs.

[2016-12-16 15:26] Joshfindit commented on #63
Minor side comment: Here's the same fiddle with `:multiple=true`: https://jsfiddle.net/mjgfywo8/1/

[2016-12-16 17:43] nunob87 opened #169 "stopropagation enter and @input bug"
vue 2,
How can I stop the event keydown enter to not send the form??

If I use the :input elements do not disappear from the list with :hide-selected = "true"
@input="onSelectTypes" -> Does not call function

thank you

[2016-12-16 18:09] grafa commented on #63
Amazing. Thank you guys.

[2016-12-17 01:34] iang0ld opened #170 "Ability to template the selection"
We need to template multiline selections as well as the options. Can this be acheived, maybe through the selected hook?

[2016-12-17 10:11] shentao commented on #170
Hey @iang0ld! Do you mean something like a custom template for options so one option can be multiline, for example:
[code]
Or do you have something different in mind?

[2016-12-17 10:16] shentao commented on #169
That’s on my side I guess. I will add `.prevent` to the event handler. Right now there is just `.stop`.

What kind of options do you have? An array of objects? Remember that you always have to pass the `track-by` and `label`, so that multiselect can recognize the options and then hide them if needed.

[2016-12-17 10:28] nunob87 commented on #169
`<multiselect :value="tipos_" :options="tipos" @input="onSelectTipos" :multiple="true" label="nome" :track-by="id" placeholder="" select-label="" deselect-label="" :close-on-select="false" :clear-on-select="true" :searchable="true" :allow-empty="true" :hide-selected="true" @close="onTouch"></multiselect>

 onSelectTipos (value) {
        console.log(value)
        this.tipos_ = value
      },

`